/* Clients list shortcode style - start */
.qodef-clients-list.qodef-item-layout--image-only.qodef-hover-animation--roll-over {

    .qodef-e {
        display: flex;
        align-items: center;
        justify-content: center;

        .qodef-e-image {
            line-height: 0;
            position: relative;
            display: inline-block;
            vertical-align: top;
            overflow: hidden;

            a {
                display: inline-block;
            }
        }

        .qodef-e-logo {
            width: auto;
            display: inline-block;
            transform: translateY(0);
            transition: all .6s cubic-bezier(.475,.425,0,.995);
        }

        .qodef-e-hover-logo {
            position: absolute;
            top: 0;
            left: 0;
            width: auto;
            transform: translateY(-100%);
            transition: all .6s cubic-bezier(.475,.425,0,.995);
        }

        &:hover {

            .qodef-e-logo {
                transform: translateY(100%);
            }

            .qodef-e-hover-logo {
                transform: translateY(0);
            }
        }
    }
}
/* Clients list shortcode style - end */