/* ==========================================================================
   Portfolio List shortcode variation styles
   ========================================================================== */

.qodef-portfolio-list {
 
	&.qodef-item-layout--info-below {
  
		.qodef-e-content {
			margin-top: 22px;
			padding-bottom: 33px;
		}

		&.qodef-info-below-appear-animation {

			article {

				.qodef-e-image,
				.qodef-e-content {
					overflow: hidden;
					opacity: 0;
					visibility: hidden;
					transform: translateY(10px);
					transition: all 1s cubic-bezier(.475,.425,0,.995);

					.elementor-editor-active & {
						opacity: 1;
						visibility: visible;
						transform: translateY(0);
					}
				}

				.qodef-e-content {
					transition-delay: .3s;
				}

				&.qodef--appear {

					.qodef-e-image,
					.qodef-e-content {
						opacity: 1;
						visibility: visible;
						transform: translateY(0);
					}
				}
			}
		}
	}
}
