/* ==========================================================================
   Portfolio Single variation styles
   ========================================================================== */

.qodef-portfolio-single {
    
    &.qodef-layout--masonry-small {
    
        .qodef-media {
            margin-right: 33px;

            .qodef-popup-item {

                .qodef-image-wrapper {
                    overflow: hidden;
                }

                img {
                    transform: scale(1.05);
                    transition: all 1s cubic-bezier(.475,.425,0,.995);
                    will-change: transform;
                }

                &:hover {

                    img {
                        transform: scale(1.01);
                    }
                }
            }
        }

        .qodef-portfolio-content {
            margin-top: 22px;

            @include qodefScreenSize1024 {
                margin-top: 0;
            }
        }

        .qodef-portfolio-info {
            margin-top: 20px;
        }
    }
}