/* ==========================================================================
   Image With Text shortcode styles
   ========================================================================== */

.qodef-image-with-text {
	@include qodefRelativeLayout();
	
	.qodef-m-image {
		@include qodefRelativeLayout();
		transform: translateY(0);
		transition: transform .6s cubic-bezier(.475,.425,0,.995);
		
		a, img {
			display: block;
		}

		&:hover {
			transform: translateY(-5px);
		}
	}
	
	.qodef-m-content {
		@include qodefRelativeLayout();
	}
	
	.qodef-m-title {
		margin: 41px 0 0;
	}

	div.qodef-m-title {
		font-family: $heading-font;
		font-size: 25px;
		font-weight: 700;
		line-height: 1.067em;
	}
	
	.qodef-m-text {
		margin: 15px 0 0;
	}

	.qodef-m-background-label {
		position: absolute;
		top: -30px;
		left: -5px;
		font-family: $heading-font;
		font-size: 110px;
		font-weight: 700;
		line-height: 1;
		color: #f5f5f5;
		z-index: -1;
	}

	&.qodef-image-shadow--enabled {

		.qodef-m-image {
			box-shadow: $box-shadow-3;
		}
	}
}