/* ==========================================================================
   Twitter List widget styles
   ========================================================================== */
$wp-widgets-area-map: (
		'#qodef-page-sidebar': (),
		'.qodef-footer-skin--light #qodef-page-footer': (
			link-color: #ccc,
			link-hover-color: #fff,
		)
);
.qodef-twitter-list {
	@each $key, $values in $wp-widgets-area-map {
		#{$key} .widget & {
			&.qodef-layout--columns {
				#ctf {
					a {
						color: map-get($values, 'link-color');
						&:hover {
							color: map-get($values, 'link-hover-color');
						}
					}
				}
			}
		}
	}
}

/* ==========================================================================
   Twitter List widget styles
   ========================================================================== */