/* ==========================================================================
   Portfolio List shortcode variation styles
   ========================================================================== */

.qodef-portfolio-list.qodef-item-layout--info-bottom-left {

	.qodef-e-inner {
		overflow: hidden;
	}

	.qodef-e-image {
		overflow: hidden;

		img {
			transform: scale(1.05);
			transition: all 1s cubic-bezier(.475,.425,0,.995);
			will-change: transform;
		}
	}

	.qodef-e-content {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		transform: translateY(100%);
		transition: .3s ease;
	}

	.qodef-e-info-category,
	.qodef-e-title {
		opacity: 0;
		visibility: hidden;
		transform: translateY(10px);
		transition: all .6s cubic-bezier(.475,.425,0,.995);
	}

	.qodef-e:hover {

		.qodef-e-content {
			transform: translateY(0);
		}

		.qodef-e-image {

			img {
				transform: scale(1.01);
			}
		}

		.qodef-e-info-category,
		.qodef-e-title {
			opacity: 1;
			visibility: visible;
			transform: translateY(0);
			transition: all .6s cubic-bezier(.475,.425,0,.995) .2s;
		}
	}
	
	.qodef-e-content-inner {
		display: flex;
		align-items: flex-start;
		justify-content: flex-end;
		flex-direction: column;
		padding: 36px 37px;
		background-color: #fff;
		box-sizing: border-box;
		
		> a {
			@include qodefAbsoluteLayout();
			z-index: 0;
		}

		.qodef-e-custom-decoration {
			margin: 0 0 10px;
		}

		* {
			z-index: 1;
		}
	}
}
