/*
Theme Name: Wheels and waves waiting page
Author: Julien Pipier
Author URI: https://julienpipier.fr/
Description: Please read: tidythemes.com/concept. BlankSlate is the definitive WordPress HTML5 boilerplate starter theme. We've carefully constructed the most clean and minimalist theme possible for designers and developers to use as a base to build websites for clients or to build completely custom themes from scratch. Clean, simple, unstyled, semi-minified, unformatted, and valid code, SEO-friendly, jQuery-enabled, no programmer comments, standardized and as white label as possible, and most importantly, the CSS is reset for cross-browser-compatability and no intrusive visual CSS styles have been added whatsoever. A perfect skeleton theme. For support and suggestions, go to: https://github.com/tidythemes/blankslate/issues. Thank you.
Version: 2019.1
License: GNU General Public License
License URI: https://www.gnu.org/licenses/gpl.html
Tags: one-column, two-columns, custom-menu, featured-images, microformats, sticky-post, threaded-comments, translation-ready
Text Domain: blankslate

BlankSlate WordPress Theme © 2011-2019 TidyThemes
BlankSlate is distributed under the terms of the GNU GPL
*/
@font-face {
    font-family: 'extenda20_micro';
    src: url('../fonte/extenda-20-micro-webfont.woff2') format('woff2'),
         url('../fonte/extenda-20-micro-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'hack';
    src: url('../fonte/hack-regular-webfont.woff2') format('woff2'),
         url('../fonte/hack-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
html{
  min-height: 100%;
  height: 100%;
}

body {
  min-height: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url('../images/landing.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
.content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  overflow: hidden;
  min-height: 80%;

}
h1{
  text-decoration: none;
  font-family: 'extenda20_micro';
  font-size: 150px;
  font-weight: 300;
  color: #fff;
  line-height: 55px;
  padding-left:50px;
  margin-bottom: 20px
}
.presentation{
  font-family: 'hack';
  font-size: 15px;
  color: #bebdbc;
  width: 70%;
  display: flex;
  padding-left: 50px;

}
footer{
  color:#fff;
  display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    height: 20%;
    position: relative;
    overflow: hidden;
}
.date {
    font-size: 10vh;
    text-align: right;
    padding-right: 20px;
    font-family: 'extenda20_micro';
    letter-spacing: 2px;
    font-weight: 300;
}
#INFORMATION__Contact_Mentions_{
  padding: 40px;
  display: none;
}
#Wheels_and_waves{
    right: -14px;
    bottom: -12%;
  position: absolute;
  overflow: hidden;
  overflow: visible;
  white-space: nowrap;
  font-family: DIN Condensed;
  font-weight: bold;
  font-size: 46px;
  color: rgba(255,255,255,1);
  text-transform: uppercase;
}

.font-18{
  font-size: 11vh
}
.submenu{
  font-size: 9vh;
  display: flex;
}
.fb, .yt, .insta, .spotify{
  width: 30px;
  stroke: #FFF;
  fill: #fff;
  color:#fff;
  margin-right: 10px;
}
.btn-shop{
  border: 2px solid #fff;
  color: #fff;
  text-transform: uppercase;
  padding: 11px 10px 6px;
  text-decoration: none;
  margin-left: 50px;
  margin-top: 30px;
  font-family: DIN Condensed;
}
/*
 * Author: http://stuffandnonsense.co.uk/blog/about/hardboiled_css3_media_queries/
 */

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
  #INFORMATION__Contact_Mentions_{
    display: none;
  }
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
  #INFORMATION__Contact_Mentions_{
    display: none;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
  .font-18{
    font-size: 18vh
  }
  .submenu{
    font-size: 15vh;
    display: flex;
  }
  h1{
    line-height: 120px;
  }
  .presentation{
    width: 33%;
    font-size: 16px;
  }
  #Wheels_and_waves{
    right: -20px;
    bottom: -30%;
    position: absolute;
    overflow: hidden;
    overflow: visible;
    white-space: nowrap;
    font-family: DIN Condensed;
    font-weight: bold;
    font-size: 112px;
    color: rgba(255,255,255,1);
    text-transform: uppercase;
  }
  #INFORMATION__Contact_Mentions_{
    padding: 40px;
    display: block !important;
  }
  .btn-shop{
    padding: 20px 20px 15px;
  }
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}