/* ==========================================================================
   Blog List styles
   ========================================================================== */

.qodef-blog {
	
	&.qodef-item-layout--standard {

		article {

			.qodef-e-info {

				&.qodef-info--top {
					margin: 2px 0 3px;

					.qodef-e-info-item {

						a {
							line-height: 26px;
						}
					}
				}
			}
		}

		&.qodef-col-num--1 {

			article:not(:last-child) {
				
				.qodef-e-info {

					&.qodef-info--bottom {
						margin-bottom: 67px;
					}
				}
				
				&.format-link {
					
					.qodef-e-link {
						margin-bottom: 50px;
					}
				}
				
				&.format-quote {
					
					.qodef-e-quote {
						margin-bottom: 50px;
					}
				}
			}
		}
		
		&:not(.qodef-col-num--1) {
			
			article {
				
				&.format-link {
					
					.qodef-e-link {
						padding: 76px;
					}
				}
				
				&.format-quote {
					
					.qodef-e-quote {
						padding: 76px;
					}
				}
			}
		}
	}
}