/* ==========================================================================
# Search opener - begin
========================================================================== */

.qodef-search-opener {
    
    > * {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        line-height: inherit;
    }
    
    &.qodef-source--icon-pack {
        font-size: 14px;
    }
}

/* ==========================================================================
# Search opener - end
========================================================================== */