/* ==========================================================================
   Header common styles
   ========================================================================== */

$left-right-spacing: 12px;

#qodef-page-header {

	#qodef-page-header-inner .qodef-header-navigation > ul > li > a {

		.qodef-header--light & {
			color: #fff !important;
		}

		.qodef-header--dark & {
			color: #000 !important;
		}
	}

	.qodef-widget-holder {
		display: flex;
		align-items: center;
		height: 100%;
		margin-left: $left-right-spacing * 2;

		.widget {
			margin: 0 $left-right-spacing;
			
			&:first-child {
				margin-left: 0;
			}
			
			&:last-child {
				margin-right: 0;
			}
		}
	}
	
	div[id^="monster-widget-placeholder"],
	div[id^="woo-monster-widget-placeholder"] {
		display: none;
	}
}

#qodef-page-header-inner {

	&.qodef-content-grid {
		padding: 0;
	}
}