/* ==========================================================================
   Horizontal showcase shortcode style - begin
   ========================================================================== */

.qodef-horizontal-showcase {
	position: relative;
	margin: 0;
	height: 100vh;
	overflow: hidden;

	@include qodefScreenSize680 {
		height: auto !important;
	}

	.admin-bar & {
		height: calc(100vh - 32px);
	}

	.qodef-slides-holder {
		height: 100%;
		overflow: hidden;
		display: flex;
		align-items: center;

		@include qodefScreenSize680 {
			flex-direction: column;
		}

		.scroll-content {
			height: 100%;
			display: flex;
			align-items: center;
			padding: 0;
		}

		.scrollbar-track {

			&.scrollbar-track-y {
				display: none !important;
			}

			.scrollbar-thumb {
				background: $main-color;
			}
		}
	}

	.scroll-content {

		.qodef-horizontal-slide {
			opacity: 1;
		}
	}

	.qodef-featured-fixed {
		width: 100vw;
		height: 100%;
		padding: 0;
		position: absolute;
		top: 0;
		left: 0;
		pointer-events: none;
		z-index: -1;

		@include qodefScreenSize680 {
			width: auto;
			height: auto;
		}

		img {
			display: block;
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}

	.qodef-horizontal-slide {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 2900px;
		height: 100%;
		padding: 0 200px 0 300px;
		background-color: $custom-text2-color;
		opacity: 0;

		&:nth-child(1) {
			visibility: hidden;
		}

		&.qodef-size-type--small {
			width: 2500px;

			@include qodefScreenSize1440 {
				width: 1780px;
			}

			@include qodefScreenSize1366 {
				width: 1685px;
			}

			@include qodefScreenSize1280 {
				width: 1880px;
			}

			@include qodefScreenSize1024 {
				width: 1850px;
			}

			@include qodefScreenSize768 {
				width: 2075px;
			}
		}

		@include qodefScreenSize1440 {
			//width: 2680px;
			width: 2180px;
			padding: 0 150px 0 200px;
		}

		@include qodefScreenSize1366 {
			//width: 2485px;
			width: 2085px;
		}

		@include qodefScreenSize1280 {
			//width: 2680px;
			width: 2280px;
		}

		@include qodefScreenSize1024 {
			//width: 2650px;
			width: 2250px;
		}

		@include qodefScreenSize768 {
			//width: 2875px;
			width: 2475px;
		}

		@include qodefScreenSize680 {
			align-items: flex-start;
			justify-content: center;
			flex-direction: column;
			width: 100% !important;
			height: 100%;
			padding: 0;
			opacity: 1;

			&:not(.qodef-featured) {
				padding: 129px 34px;
			}
		}

		.qodef-slide-content {
			width: 42%;

			@include qodefScreenSize1440 {
				width: 45%;
			}

			@include qodefScreenSize1366 {
				width: 49%;
			}

			@include qodefScreenSize1280 {
				width: 45%;
			}

			@include qodefScreenSize1024 {
				width: 46%;
			}

			@include qodefScreenSize768 {
				width: 42%;
			}

			@include qodefScreenSize680 {
				width: 100%;
			}

			.qodef-slide-title {
				margin: 0 0 7px;

				p {
					line-height: 32px;
				}
			}

			.qodef-slide-quote {
				font-family: $heading-font;
				font-size: 30px;
				font-weight: 500;
				font-style: italic;
				line-height: 40px;

				.qodef-special-style {
					color: $main-color;
					display: inline-block;
					opacity: 0;
					visibility: hidden;
					transform: translateX(-10px);
					transition: .5s ease;

					&.qodef-animate {
						opacity: 1;
						visibility: visible;
						transform: translateX(0);
					}

					@for $i from 2 through 10 {
						&:nth-of-type(#{$i}) {
							transition-delay: #{($i) / 10}s;
						}
					}
				}
			}

			.qodef-slide-author-holder {
				display: flex;
				flex-direction: column;
				margin: 28px 0 0;

				@include qodefScreenSize680 {
					margin-bottom: 31px;
				}

				.qodef-slide-author {
					font-family: $heading-font;
					font-size: 20px;
					font-weight: 700;
				}

				.qodef-slide-author-label {
					font-size: 11px;
					font-weight: 500;
					text-transform: uppercase;
					letter-spacing: .2em;
					color: $custom-text3-color;
				}
			}

			.qodef-slide-additional-info {
				display: flex;
				margin: 22px 0 0;

				@include qodefScreenSize680 {
					flex-direction: column;
				}

				.qodef-slide-additional-info-part {
					display: flex;
					flex-direction: column;
					margin-right: 125px;

					@include qodefScreenSize680 {
						margin-right: 0;
						margin-bottom: 27px;
					}

					.qodef-e {
						margin-bottom: 27px;

						.qodef-label {
							@include qodefCustomTitleStyle($custom-text3-color, 11px, 500);
						}

						.qodef-social-share {
							position: relative;
							top: -8px;
						}

						.qodef-social-title {
							display: block;
						}

						&:last-child {
							margin-bottom: 0;
						}
					}

					&:last-child {
						margin-right: 0;
					}
				}
			}
		}

		.qodef-slide-images {
			display: table;
			max-width: 51%;

			@include qodefScreenSize1440 {
				max-width: 48%;
			}

			@include qodefScreenSize1366 {
				max-width: 44%;
			}

			@include qodefScreenSize1280 {
				max-width: 48%;
			}

			@include qodefScreenSize1024 {
				max-width: 47%;
			}

			@include qodefScreenSize768 {
				max-width: 51%;
			}

			@include qodefScreenSize680 {
				max-width: none;
				display: block;
			}

			.qodef-slide-image,
			.qodef-slide-image-separator {
				position: relative;
				display: table-cell;
			}

			.qodef-slide-image-separator {
				width: 60px;
			}

			.qodef-slide-image {

				@include qodefScreenSize680 {
					display: block;
					margin: 30px 0 0;
				}

				.qodef-img-holder {
					display: block;

					img {
						display: block;
						width: auto;
						max-height: 70vh;

						@include qodefScreenSize680 {
							max-height: none;
						}
					}
				}

				.qodef-slide-image-meta {
					position: absolute;
					bottom: -53px;
					left: 0;

					@include qodefScreenSize680 {
						position: relative;
						bottom: auto !important;
						left: auto !important;
						margin-top: 6px;
						visibility: visible;
						opacity: 1;
					}

					.qodef-slide-image-title {
						margin: 0;
					}

					.qodef-slide-image-subtitle {
						margin: 0 0 -4px;
						@include qodefCustomTextStyle();
					}
				}
			}
		}

		&.qodef-featured {
			width: auto;
			padding: 0;

			img {
				display: block;
				height: 100%;
				width: auto;

				@include qodefScreenSize680 {
					width: 100%;
					height: auto;
				}
			}
		}

		&:nth-child(even) {
			background-color: $background-color;
		}

		&.qodef-hover-animation {

			.qodef-slide-image {
				perspective: 1000px;
				-webkit-perspective: 1000px;

				.qodef-img-holder {
					overflow: hidden;
					transform: scale(1) rotateY(0);
					transition: all .8s cubic-bezier(.475,.425,0,.995);
					will-change: transform;

					img {
						transform: scale(1);
						transition: transform 2s cubic-bezier(.19,1,.22,1);
						will-change: transform;
					}
				}

				.qodef-slide-image-meta {

					.qodef-slide-image-title,
					.qodef-slide-image-subtitle {
						opacity: 0;
						visibility: hidden;
						transform: rotateZ(5deg) translateY(8px);
						transform-origin: left;
						transition: all 1s cubic-bezier(.475,.425,0,.995);
						will-change: transform;
						transition-delay: 0s;
					}
				}

				&:hover {

					.qodef-img-holder {
						transform: scale(.95) rotateY(-9deg);

						img {
							transform: scale(1.1);
						}
					}

					.qodef-slide-image-subtitle,
					.qodef-slide-image-title {
						opacity: 1;
						visibility: visible;
						transform: rotateZ(0) translateY(0);
					}

					.qodef-slide-image-subtitle {
						transition-delay: 0s;
					}

					.qodef-slide-image-title {
						transition-delay: .08s;
					}
				}
			}
		}
	}

	.qodef-scroll-back {
		position: absolute;
		top: 0;
		right: 0;
		width: 110px;
		height: 100%;
		background-color: transparent;
		visibility: hidden;
		opacity: 0;
		transition: all .3s ease;

		&.qodef-appear {
			visibility: visible;
			opacity: 1;
		}

		&:hover {
			cursor: pointer;

			.qodef-mark {
				right: 76px;
			}
		}

		.qodef-mark {
			position: absolute;
			top: 50%;
			right: 66px;
			transform: translateY(-50%);
			transition: right .2s ease-out;

			.admin-bar & {
				top: calc(50% + 16px);
			}
		}

		.qodef-label {
			position: absolute;
			top: 50%;
			left: calc(100% - 40px);
			font-size: 12px;
			font-weight: 600;
			text-transform: uppercase;
			letter-spacing: .2em;
			white-space: nowrap;
			color: #1d1d1d;
			transform: translateX(-50%) translateY(-50%) rotate(-90deg);

			.admin-bar & {
				top: calc(50% + 16px);
			}
		}
	}

	.scrollbar-thumb {
		border-radius: 0;
	}
}
/* ==========================================================================
   Horizontal showcase shortcode style - end
   ========================================================================== */