/* ==========================================================================
   Blog List shortcode styles
   ========================================================================== */

.qodef-blog {

	&.qodef--list {

		.qodef-e:not(.format-gallery) {

			.qodef-e-media-image {
				overflow: hidden;

				img {
					transform: scale(1.05);
					transition: all 1s cubic-bezier(.475,.425,0,.995);
					will-change: transform;
				}

				&:hover {

					img {
						transform: scale(1.01);
					}
				}
			}
		}
	}

	&.qodef-item-separator--enabled {

		article {

			.qodef-e-inner {
				padding-left: 33px;

				&:before {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					display: block;
					width: 2px;
					height: 100%;
					background-color: $main-color;
				}
			}
		}
	}

	&.qodef-skin--light {

		.qodef-blog-item {

			.qodef-e-title,
			.qodef-e-excerpt,
			.qodef-e-read-more,
			.qodef-e-info .qodef-e-info-item {
				color: #fff;

				a {
					color: inherit !important;

					&:hover {
						color: $main-color !important;
					}
				}

				.qodef-button.qodef-layout--textual:hover:before {
					color: #fff;
				}

				.qodef-button.qodef-layout--textual:hover:after {
					background-color: #fff;
				}
			}

			.qodef-e-read-more {

				.qodef-button {

					&:before {
						color: #fff;
					}

					&:after {
						background-color: #fff;
					}
				}
			}
		}

		&.qodef-item-separator--enabled {

			article {

				.qodef-e-inner {

					&:before {
						background-color: #fff;
					}
				}
			}
		}
	}
}