/* ==========================================================================
   Author Info styles
   ========================================================================== */

#qodef-author-info {
	@include qodefRelativeLayout();
	margin-top: 65px;
	
	.qodef-m-inner {
		position: relative;
		display: flex;
		align-items: center;
	}
	
	.qodef-m-image {
		flex-shrink: 0;
		margin-right: 25px;
		
		a, img {
			display: block;
			border-radius: 100%;
		}
	}
	
	.qodef-m-author {
		margin: 0;
		
		.qodef-m-author-label {
			display: block;
			font-family: $text-font;
			font-weight: 500;
			text-transform: uppercase;
			letter-spacing: 0.2em;
			font-size: 11px;
			color: $custom-text3-color;
			margin-bottom: -7px;
		}
	}
	
	.qodef-m-email {
		margin: 5px 0 0;
	}
	
	.qodef-m-description {
		margin: 13px 0 0;
	}
	
	.qodef-m-social-icons {
		margin-top: 17px;
		
		> div {
			position: relative;
			display: inline-block;
			vertical-align: middle;
			margin-right: 10px;
			padding: 0;
			
			a {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 36px;
				height: 36px;
				font-size: 10px;
				line-height: 1;
				text-align: center;
				color: #232323;
				border-radius: 100%;
				transition: $color-transition;

				.qodef-svg-circle {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					overflow: visible;

					circle {
						fill: none;
						stroke-width: 1px;
						transform-origin: center;
						transform: rotate(-145deg);
						transition: all .6s cubic-bezier(.43,.41,.36,.9);

						&:first-child {
							stroke: $border-color;
							stroke-dashoffset: 0;
							stroke-dasharray: 115;
						}

						&:last-child {
							stroke: $main-color;
							stroke-dashoffset: 115;
							stroke-dasharray: 115;
						}
					}
				}

				&:hover {
					color: $main-color;

					.qodef-svg-circle {

						circle {
							transform: rotate(55deg);
							transition: all .6s cubic-bezier(.43,.41,.36,.9);

							&:first-child {
								stroke-dashoffset: -115;
							}

							&:last-child {
								stroke-dashoffset: 0;
							}
						}
					}
				}
			}
		}
	}
}