/* ==========================================================================
   Author Info responsive styles
   ========================================================================== */

#qodef-author-info {

	@include qodefScreenSize680 {
		
		.qodef-m-inner {
			flex-wrap: wrap;
		}
		
		.qodef-m-content {
			margin-top: -11px;
		}

		.qodef-m-image {
			margin-right: 0;
			margin-bottom: 39px;
		}
	}
}