.qodef-vertical-split-slider {
    height: 100vh;
    position: relative;
    
    .ms-tableCell {
        height: 100vh !important; // to override inline from js and make sure it will be full height
    }
}

.qodef-vertical-split-slider-responsive {
    display: none;
}

.qodef-vertical-split-slider,
.qodef-vertical-split-slider-responsive {
    
    .qodef-m {

        &-image {
            max-height: 40%;
            width: auto;
        }

        &-title {
            display: block;
            margin: 26px 0 0 0;
        }

        &-text {
            margin: 15px 0 0 0;
        }

        &-button {
            margin: 22px 0 0 0;
        }
    
        &-slide {
        
            &-image {
                background-size: cover;
            }
        
            &-content {
                text-align: center;
                padding: 0 5%;
            }
        }
    }
}

#multiscroll-nav {
    display: none;
    
    li {
		width: 36px !important;
		height: 36px !important;
        margin: 10px 0 !important;
    }
    
    a {
        display: block;
        width: 100%;
        height: 100%;
		background-color: transparent;
		border: 1px solid transparent;
		border-radius: 100%;
		opacity: 1;
		transition: $border-color-transition;

        span {
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 6px;
            height: 6px;
            background-color: $heading-color;
            border: none !important;
            border-radius: 100%;
            transition: $background-color-transition;
            transform: translateX(-50%) translateY(-50%);
        }
        
        &.active,
        &:hover {
            border-color: $heading-color;
        }
    }
    
    &.right {
        right: 47px !important;
    }
    
    .qodef-vertical-split-slider--initialized & {
        display: block;
    
        $skins: ('light', 'dark');
        $skins-color: ('#fff', '#000');
        
        @each $skin in $skins {
    
            @at-root .qodef-header--#{$skin}#{&} {

                a {

                    span {
                        background-color: #{nth($skins-color, index($skins, $skin))};
                    }

                    &.active,
                    &:hover {
                        border-color: #{nth($skins-color, index($skins, $skin))};
                    }
                }
            }
        }
    }
}