/* ==========================================================================
   Navigation Menu styles
   ========================================================================== */
$wide-menu-top-bottom-spacing: 61px 0 31px;
$space-between-menu-columns: 15px;
$wide-menu-level-two-top-spacing: 6px;

.qodef-header-navigation {
	
	.qodef-menu-item-icon {
		display: block;
		margin-right: 5px;
		line-height: inherit;
		
		&:before {
			display: block;
			line-height: inherit;
		}
	}
	
	ul {
		
		li {
			
			.qodef-drop-down-second {
				position: absolute;
				top: 100%;
				left: -38px;
				display: block;
				width: auto;
				height: 0;
				opacity: 0;
				visibility: hidden;
				overflow: hidden;
				z-index: 10;
				box-shadow: 0 0 16px 0 rgba(0,0,0,0.05);
				
				&.qodef-drop-down--start {
					opacity: 1;
					visibility: visible;
					overflow: visible;
					z-index: 20;
					transition: opacity .3s ease, visibility .2s ease;
				}
			}
			
			.qodef-mega-menu-widget-holder {
				display: none;
				white-space: normal;
			}
			
			&.qodef-menu-item--narrow {
				
				.qodef-drop-down-second {
					left: -34px;
					
					&.qodef-drop-down--right {
						left: auto;
						right: -32px;
					}
				}
				
				.qodef-drop-down-second-inner {
					@include qodefRelativeLayout();
					
					> ul {
						position: relative;
						top: auto;
						opacity: 1;
						visibility: visible;
					}
				}
			}
			
			&.qodef-menu-item--wide {
				
				.qodef-mega-menu-widget-holder {
					display: block;
				}
				
				.qodef-drop-down-second {
					background-color: $background-color;
					border-top: 3px solid #f23801;
					box-shadow: 0 0 16px 0 rgba(0,0,0,.05);
					
					.qodef-drop-down-second--full-width & {
						width: 100vw;
					}
				}
				
				.qodef-drop-down-second-inner {
				
					&:not(.qodef-content-grid),
                    .qodef--boxed & {
						padding: $full-width-side-padding;
					}
					
					> ul {
						display: flex;
						justify-content: space-between;
						padding: $wide-menu-top-bottom-spacing;
						margin: 0 -$space-between-menu-columns;
						
						> li {
							width: 100%;
							padding: 0 $space-between-menu-columns;
							
							> a {
								@include qodefMenuLevelOneInitialStyle(null, #110727);
								line-height: 32px;
								font-weight: 700;
							}
							
							ul {
								padding-top: $wide-menu-level-two-top-spacing;
								margin-left: 0;
								
								li {
									
									> a {
										@include qodefMenuLevelTwoInitialStyle();
										@include qodefMenuLevelTwoInitialTypographyStyle();
										@include qodefHeadingStyle(h5, false);
										line-height: 32px;
										font-weight: 500;
										font-style: italic;
										font-size: 18px;
									}

                                    &:hover,
									&.current-menu-item {
										
										> a {
											@include qodefMenuLevelTwoHoverStyle();
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

body {

    &:not(.qodef-drop-down-second--full-width) {

        .qodef-header-navigation {

            ul {

                li {

                    &.qodef-menu-item--wide {

                        .qodef-drop-down-second-inner {
                            padding: $full-width-side-padding;
                        }
                    }
                }
            }
        }
    }
}