/* ==========================================================================
   Social Share shortcode styles
   ========================================================================== */

.qodef-social-share {

	&.qodef-layout--list {

		.qodef-social-title {
			line-height: 36px;
		}

		li {
			margin-right: 14px;

			a {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 36px;
				height: 36px;
				text-align: center;
				border: none;
				border-radius: 100%;
				transition: $color-transition, $border-color-transition;
				color: $heading-color;
				font-size: 11px;
				letter-spacing: 0.15em;
				line-height: 32px;
				font-weight: 400;
				text-transform: uppercase;

				.qodef-svg-circle {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					overflow: visible;

					circle {
						fill: none;
						stroke-width: 1px;
						transform-origin: center;
						transform: rotate(-145deg);
						transition: all .6s cubic-bezier(.43,.41,.36,.9);

						&:first-child {
							stroke: $border-color;
							stroke-dashoffset: 0;
							stroke-dasharray: 115;
						}

						&:last-child {
							stroke: $main-color;
							stroke-dashoffset: 115;
							stroke-dasharray: 115;
						}
					}
				}

				&:hover {
					color: $main-color;

					.qodef-svg-circle {

						circle {
							transform: rotate(55deg);
							transition: all .6s cubic-bezier(.43,.41,.36,.9);

							&:first-child {
								stroke-dashoffset: -115;
							}

							&:last-child {
								stroke-dashoffset: 0;
							}
						}
					}
				}
			}

			&:last-child {
				margin-right: 0;
			}
		}

		&.qodef-bottom-margin {

			li {
				margin-bottom: 14px;
			}
		}

		&.qodef-skin--light {

			li {

				a {
					border: 1px solid #fff;
					color: #fff;

					&:hover {
						color: $main-color;
						border-color: $main-color;
					}
				}
			}
		}

		&.qodef-skin--dark {

			li {

				a {
					border: 1px solid $heading-color;
					color: $heading-color;

					&:hover {
						color: $main-color;
						border-color: $main-color;
					}
				}
			}
		}
	}
}

.qodef-header--vertical-sliding {

	.qodef--static {

		.qodef-social-share {

			&.qodef-layout--list {

				li {
					display: block;
					margin: 0 0 14px;

					&:last-child {
						margin: 0;
					}
				}
			}
		}
	}
}

/* ==========================================================================
   Social Share shortcode styles
   ========================================================================== */