/* ==========================================================================
   Instagram List shortcode styles
   ========================================================================== */

#sb_instagram #sbi_images {

	.sbi_photo_wrap {

		a {
			background-image: none !important;
			height: auto !important;

			&:before {
				content: '';
				@include qodefAbsoluteLayout();
				background-color: #fff;
				opacity: 0;
				transition: $opacity-transition;
			}

			&:after {
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				width: 30px;
				height: 18px;
				background: url(../img/custom-decoration.svg);
				transform: translateX(-50%) translateY(-50%);
				opacity: 0;
				transition: $opacity-transition;
			}

			&:hover {

				&:before,
				&:after {
					opacity: 1;
				}

                img {
                    opacity: 0 !important;
                }
			}

			img {
				display: inline-block !important;
                transition: $opacity-transition;
			}
		}
	}
}

.qodef-instagram-list {

	#sb_instagram {
        padding: 0 !important;

        #sbi_images {
            padding: 0 !important;
        }
    }

	&.qodef-layout--slider {

        &:hover {
            cursor: url(../img/drag-cursor.svg), auto;
        }

        @for $i from 0 to length($grid-columns-gutter-label) {

            &.qodef-gutter--#{nth($grid-columns-gutter-label,$i+1)} {
                $gutter-size: nth($grid-columns-gutter-size, $i+1);
                $gutter-double-size: $gutter-size * 2;

                #sb_instagram {

                    #sbi_images {

                        > .sbi_item {
                            padding: 0 !important;

                            @if ($gutter-size == 0) {
                                margin: 0 !important;
                            } @else {
                                margin: 0 #{$gutter-double-size}px 0 0 !important;
                            }
                        }
                    }
                }
            }
        }

        .qodef-instagram-swiper-container {
            list-style: none;
            margin: 0 auto;
            overflow: hidden;
            padding: 0 !important;
            position: relative;
            visibility: hidden;
            z-index: 1;

            .swiper-slide {

                a,
                img {
                    width: 100%;
                }
            }

            &.qodef-swiper--initialized {
                visibility: visible;
            }
        }
    }

	&.qodef-layout--columns {

        @for $i from 0 to length($grid-columns-gutter-label) {

            &.qodef-gutter--#{nth($grid-columns-gutter-label,$i+1)} {
                $gutter-size: nth($grid-columns-gutter-size, $i+1);
                $gutter-double-size: $gutter-size * 2;

                &.qodef--no-bottom-space {
                    @if ($gutter-size == 0) {
                        margin-bottom: 0;
                    } @else {
                        margin-bottom: -#{$gutter-double-size}px;
                    }
                }

                #sb_instagram {

                    #sbi_images {
                        float: none;
                        width: auto;

                        @if ($gutter-size == 0) {
                            margin: 0;
                        } @else {
                            margin: 0 -#{$gutter-size}px;
                        }

                        > .sbi_item {
                            @if ($gutter-size == 0) {
                                padding: 0 !important;
                                margin: 0 !important;
                            } @else {
                                padding: 0 #{$gutter-size}px !important;
                                margin: 0 0 #{$gutter-double-size}px !important;
                            }
                        }
                    }
                }
            }
        }
    }
}

// slider styles
//.qodef-instagram-swiper-container {
//	position: relative;
//	margin: 0 auto;
//	padding: 0;
//	list-style: none;
//	z-index: 1;
//	visibility: hidden;
//	overflow: hidden;
//
//	.swiper-slide {
//
//		a, img {
//			width: 100%;
//		}
//	}
//
//	&.qodef-swiper--initialized {
//		visibility: visible;
//	}
//}

/* ==========================================================================
   Instagram List shortcode styles
   ========================================================================== */