/* ==========================================================================
   Mobile header layout styles
   ========================================================================== */

.qodef-mobile-header--minimal #qodef-page-mobile-header-inner {
	justify-content: flex-end;
	
	.qodef-mobile-header-logo-link {
		margin-right: auto;
	}
	
	.qodef-opener-icon {
		margin-left: 20px;
	}
}

.qodef-fullscreen-menu--opened {
    overflow-y: hidden;
	
	#qodef-page-mobile-header .qodef-mobile-header-logo-link img {
		
		&.qodef--dark {
			opacity: 1;
		}

		&.qodef--main,
		&.qodef--light {
			opacity: 0;
		}
	}
}
