/* ==========================================================================
   Blog List styles
   ========================================================================== */

.qodef-blog {
	
	&.qodef-item-layout--flexible {
		
		article {
			
			&.has-post-thumbnail {
				
				.qodef-e-media {
					margin-bottom: 24px;
					overflow: hidden;
					
					.qodef-e-media-image {
						transform: scale(1.01);
						will-change: transform;
						transition: .5s ease-out;
					}
				}
			}
			
			.qodef-e-info {
				
				&.qodef-info--top {
					margin-bottom: 0;
				}
				
				&.qodef-info--bottom {
					margin-bottom: 38px;
					margin-top: 9px;
				}
				
				.qodef-e-info-item {
					
					a {
						letter-spacing: 0.2em;
					}
				}
			}
			
			.qodef-e-text {
				
				.qodef-e-title {
					text-decoration: none;
					
					a {
						position: relative;
						
						&:hover {
							color: $main-color;
						}
					}
				}
				
				.qodef-e-excerpt {
					margin: 14px 0 0;
				}
			}
			
			&:hover {
				&.has-post-thumbnail {
					
					.qodef-e-media {
						
						.qodef-e-media-image {
							transform: scale(1.06);
						}
					}
				}
			}
		}

		&.qodef-item-separator--enabled {

			article {

				.qodef-e-info {

					&.qodef-info--bottom {
						margin-bottom: 0;
					}
				}
			}
		}

		&.qodef-content-padding--disabled {

			@include qodefScreenSize1024 {

				article {

					.qodef-e-inner {

						.qodef-e-content {
							padding: 0 !important;
						}
					}
				}
			}
		}
	}
}