/* ==========================================================================
   WooCommerce Side Area Cart styles
   ========================================================================== */

$content-width: 360px;
$content-padding: 100px 13px 74px; // 74 is action button height + 20

.qodef-woo-side-area-cart {
	position: relative;
	display: inline-block;
	vertical-align: top;
	height: 100%;
	padding: 0 10px;
	
	.qodef-m-inner {
		@include qodefRelativeLayout();
		height: 100%;
	}
	
	.qodef-m-opener {
		position: relative;
		display: flex;
		align-items: center;
		height: 100%;
		font-size: 14px;

		.qodef-m-opener-icon {
			position: relative;
			top: -2px;
		}

		.qodef-m-opener-count {
			position: relative;
			top: -2px;
			margin-left: 3px;
			font-family: $text-font;
			font-weight: 400;
			letter-spacing: -.02em;
		}
	}
	
	.qodef-m-content {
		position: fixed;
		top: 0;
		right: -$content-width;
		height: 100vh;
		width: $content-width;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: $content-padding;
		background-color: $background-color;
		overflow: hidden;
		visibility: hidden;
		z-index: 9999;
		box-shadow: $box-shadow-2;
		transition: $sliding-area-transition;
		
		.admin-bar & {
			top: 32px;
			height: calc(100vh - 32px);
		}
	}
	
	.qodef-m-close {
		position: absolute;
		top: 30px;
		right: 30px;
		display: block;
		font-size: 34px;
		z-index: 1000;
	}
	
	.qodef-m-items {
		@include qodefRelativeLayout();
	}
	
	.qodef-m-item {
		position: relative;
		display: flex;
		align-items: center;
		margin-top: 8px;
		
		&:first-child {
			margin-top: 0;
		}
	}
	
	.qodef-e-image {
		flex-shrink: 0;
		width: 74px;
		margin-right: 11px;
		
		a, img {
			display: block;
		}
	}
	
	.qodef-e-content {
		@include qodefRelativeLayout();
		padding-right: 20px;
	}
	
	.qodef-e-title {
		margin: 0;
		font-weight: 700;
	}
	
	.qodef-e-price {
		margin: 0;
		font-family: $heading-font;
		font-size: 22px;
		font-weight: 700;
		line-height: 1;
		color: $main-color;
	}
	
	.qodef-e-quantity {
		margin: 0;
	}
	
	.qodef-e-remove {
		position: absolute;
		top: -4px;
		right: -3px;
		font-size: 16px;
		line-height: 1;
	}
	
	.qodef-m-order-details {
		position: relative;
		display: flex;
		align-items: baseline;
		justify-content: space-between;
		margin-top: 7px;

		> * {
			margin: 0;
		}

		.qodef-m-order-label {
			@include qodefCustomTextStyle();
		}

		.qodef-m-order-amount {
			font-family: $heading-font;
			font-size: 22px;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: .1em;
			color: $main-color;
		}
	}
	
	.qodef-m-action {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		display: flex;
	}
	
	.qodef-m-action-link {
		@include qodefButtonDefaultStyle();
		@include qodefButtonSize(full-width);
	    padding: 12px 10px;
		font-size: 10px;

		&.qodef-cart {
			@include qodefButtonFilledColor();

			&:hover {
				@include qodefButtonFilledHoverColor();
			}
		}

		&.qodef-checkout {
			@include qodefButtonOutlinedColor();

			&:hover {
				@include qodefButtonOutlinedHoverColor();
			}
		}
	}

	.qodef-m-posts-not-found {
		padding: 0 16px;
	}

	&.qodef--opened {
		
		.qodef-m-content {
			right: 0;
			visibility: visible;
		}
	}
}

.qodef-woo-side-area-cart-cover {
	position: fixed;
	top: 0;
	left: 0;
	width: calc(100% - #{$content-width});
	height: 100vh;
	overflow: hidden;
	z-index: 1002;
}