/* ==========================================================================
   Social Share shortcode styles
   ========================================================================== */

.qodef-social-share {

	&.qodef-layout--text {
		vertical-align: baseline;

		.qodef-social-title,
		ul {
			vertical-align: baseline;
		}

		li {
			margin-right: 14px;
			vertical-align: baseline;

			a {
				font-size: 13px;
				color: #232323;

				&:hover {
					color: $main-color;
				}
			}

			&:last-child {
				margin-right: 0;
			}
		}

		&.qodef-skin--light {

			li {

				a {
					color: #fff;

					&:hover {
						color: $main-color;
					}
				}
			}
		}

		&.qodef-skin--dark {

			li {

				a {
					color: $heading-color;

					&:hover {
						color: $main-color;
					}
				}
			}
		}
	}
}

/* ==========================================================================
   Social Share shortcode styles
   ========================================================================== */