/* ==========================================================================
   Pricing Table shortcode styles
   ========================================================================== */

.qodef-pricing-table {
	@include qodefRelativeLayout();

	&.qodef-status--featured {

		.qodef-m-price {
			color: $main-color;
		}

		.qodef-m-title {

			h3 {

				.qodef-featured-label {
					position: absolute;
					top: auto;
					right: auto;
					width: 18px;
					height: 18px;
					font-family: $heading-font;
					color: $main-color;

					> svg {
						position: relative;
						top: -6px;
						display: block;
						fill: currentColor;
					}
				}
			}
		}
	}

	.qodef-m-inner {
		padding: 0 45px 0 0;
	}

	.qodef-m-inner-2 {
		position: relative;
		padding-left: 27px;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			width: 2px;
			height: 100%;
			background-color: $main-color;
		}
	}
	
	.qodef-m-title {
		margin: 2px 0 0;
		
		h3 {
			position: relative;
			display: inline-block;
			margin: 0;
		}
	}
	
	.qodef-m-price {
		font-family: $heading-font;
		font-size: 100px;
		font-weight: 700;
		text-transform: uppercase;
		color: #e1e1e1;
		
		.qodef-m-price-wrapper {
			position: relative;
			left: -5px;
			display: flex;
			margin: 0;
			line-height: 1;
		}
	}

	.qodef-m-price-period {
		position: relative;
		margin: 9px 0 0;
		font-size: 11px;
		font-weight: 500;
		text-transform: uppercase;
		letter-spacing: .1em;
		color: $custom-text3-color;

	}

	.qodef-m-content {
		margin: 23px 0 0;

		p {
			margin: 13px 0;
		}

		ul {
			list-style: none;
			margin: 0;
			
			li {
				color: $heading-color;
				margin-bottom: 12px;

				&:before {
					content: '\f00c';
					font-family: "Font Awesome 5 Free";
					font-weight: 900;
					padding-right: 8px;
				}
			}
		}
	}
	
	.qodef-m-button {
		
		.qodef-button {
			margin: 27px 0 0;
		}
	}
}