/* ==========================================================================
   Portfolio Tags shortcode styles
   ========================================================================== */

.qodef-portfolio-tags {
	
	&.qodef-skin--light {

		.qodef-info--tag {

			.qodef-e-tag {
				color: #fff;

				&:hover {
					color: $main-color;
				}
			}
		}
	}
}

