/* ==========================================================================
   Spinner layout styles
   ========================================================================== */

#qodef-page-spinner {

    &.qodef-layout--borgholm {

        &.qodef-init {

            .qodef-borgholm-dot {
                animation: qodef-borgholm-spinner 1s infinite;
            }
        }

        &.qodef-finished {

            .qodef-borgholm-dot {
                animation: none;
            }
        }

        .qodef-borgholm-dot {
            height: 12px;
            width: 12px;
            background-color: $main-color;
            border-radius: 100%;
            opacity: 1;
            transform: translateY(-30px) scaleX(.5) scaleY(.5);
        }
    }
}

@include keyframes(qodef-borgholm-spinner) {
    0% {
        opacity: 0;
        transform: translateY(-30px) scaleX(.5) scaleY(.5);
        animation-timing-function: ease-out;
    }

    5% {
        opacity: 1;
        transform: translateY(-30px) scaleX(1.15) scaleY(1.15);
        animation-timing-function: ease-out;
    }

    10% {
        opacity: 1;
        transform: translateY(-30px) scaleX(1) scaleY(1);
        animation-timing-function: ease-out;
    }

    25% {
        opacity: 1;
        transform: translateY(-15px) scaleX(.8) scaleY(1.2);
        animation-timing-function: ease-out;
    }

    40% {
        opacity: 1;
        transform: translateY(0) scaleX(1.2) scaleY(.8);
        animation-timing-function: ease-in;
    }

    50% {
        opacity: 1;
        transform: translateY(0) scaleX(1) scaleY(1);
        animation-timing-function: ease-out;
    }

    60% {
        opacity: 1;
        transform: translateY(-15px) scaleX(1) scaleY(1);
        animation-timing-function: ease-in;
    }

    80% {
        opacity: 1;
        transform: translateY(15px) scaleX(1) scaleY(1);
        animation-timing-function: ease-out;
    }

    90% {
        opacity: 0;
        transform: translateY(15px) scaleX(1) scaleY(1);
        animation-timing-function: ease-out;
    }

    100% {
        opacity: 0;
        transform: translateY(-30px) scaleX(.5) scaleY(.5);
        animation-timing-function: ease-out;
    }
}
