/* ==========================================================================
   Portfolio List shortcode variation styles
   ========================================================================== */

.qodef-portfolio-list.qodef-item-layout--info-on-hover {

	.qodef-e-inner {
		overflow: hidden;
	}
	
	.qodef-e-content {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	
	.qodef-e-content-inner {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: flex-start;
		justify-content: flex-end;
		flex-direction: column;
		padding: 36px 37px 33px;
		background-color: #fff;
		box-sizing: border-box;
		
		> a {
			@include qodefAbsoluteLayout();
			z-index: 0;
		}

		.qodef-e-custom-decoration {
			margin: 0 0 10px;
		}

		* {
			z-index: 1;
		}
	}
}
