/* ==========================================================================
   Custom Font shortcode styles
   ========================================================================== */

.qodef-custom-font {

    @include qodefScreenSize768 {

        &.qodef-disable-title-break {

            br {
                display: none;
            }
        }
    }
}