/* ==========================================================================
   Related Posts styles
   ========================================================================== */

#qodef-related-posts {
	@include qodefRelativeLayout();
	margin-top: 91px;
	
	@include qodefScreenSize680 {
		margin-top: 111px;
	}
	
	.qodef-related-posts-title {
		@include qodefHeadingStyle(h2);
		padding-bottom: 27px;
	}
	
	article {
		
		.qodef-e-media {
			margin-bottom: 12px;
			
		}
		
		.qodef-e-content {
			
			.qodef-e-title {
				margin-top: -6px;
			}
		}
	}
}