/* ==========================================================================
   Interactive Link Showcase shortcode styles
   ========================================================================== */

.qodef-interactive-link-showcase {
	@include qodefRelativeLayout();
	height: 100vh;
	visibility: hidden;
	
	.admin-bar & {
		height: calc(100vh - 32px);
	}
	
	&.qodef--init {
		visibility: visible;
	}
	
	&.qodef-skin--light {
		
		.qodef-m-item {
			color: #fff;

			&.qodef--active {
				color: $main-color;
			}
		}
	}
}