/* ==========================================================================
   Interactive Link Showcase Slider styles
   ========================================================================== */

.qodef-interactive-link-showcase {
	
	&.qodef-layout--slider {

		.swiper-container {
			width: 100%;
			height: 100%;
			z-index: 10;
			cursor: url(../img/drag-cursor.svg), auto;

			&:hover {
				cursor: url(../img/drag-cursor.svg), auto;
			}
		}

		.qodef-m-images {
			position: absolute;
			top: 0;
			left: 103px;
			width: calc(100% - 2 * 103px);
			height: 100%;
			overflow: hidden;
			z-index: 5;

			@include qodefScreenSize1440 {
				left: 72px;
				width: calc(100% - 2 * 72px);
			}

			@include qodefScreenSize1366 {
				left: 68px;
				width: calc(100% - 2 * 68px);
			}

			@include qodefScreenSize1024 {
				left: 70px;
				width: calc(100% - 2 * 70px);
			}

			@include qodefScreenSize680 {
				left: 40px;
				width: calc(100% - 2 * 40px);
			}
		}

		.qodef-m-image {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;

			.qodef-m-image-inner,
			.qodef-m-description {
				opacity: 0;
			}

			.qodef-m-image-inner {
				width: 100%;
				height: calc(100% - 103px);
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
				transition: opacity .0s .45s;

				@include qodefScreenSize1440 {
					height: calc(100% - 72px);
				}

				@include qodefScreenSize1366 {
					height: calc(100% - 68px);
				}

				@include qodefScreenSize1024 {
					height: calc(100% - 70px);
				}

				@include qodefScreenSize680 {
					height: calc(100% - 70px);
				}
			}

			.qodef-m-description {
				width: 100%;
				height: 103px;
				display: flex;
				align-items: center;
				font-family: $heading-font;
				font-size: 24px;
				font-weight: 500;
				font-style: italic;
				line-height: 32px;
				color: $heading-color;

				@include qodefScreenSize1440 {
					height: 72px;
				}

				@include qodefScreenSize1366 {
					height: 68px;
				}

				@include qodefScreenSize1024 {
					height: 70px;
				}

				@include qodefScreenSize680 {
					height: 70px;
				}
			}

			&.qodef--active {
				z-index: 5;

				.qodef-m-image-inner,
				.qodef-m-description {
					opacity: 1;
				}

				.qodef-m-image-inner {
					transition: opacity .4s cubic-bezier(0.215, 0.61, 0.355, 1);
				}
			}

			img {
				display: none;
			}
		}

		.qodef-m-items {
			display: flex;
			align-items: center;
			z-index: 10;
		}

		.qodef-m-item {
			position: relative;
			display: inline-block;
			vertical-align: top;
			width: auto;
			height: auto;
			padding: 0;
			margin: -152px 1% 0;
			@include qodefHeadingStyle(h2, false);
			transition: $color-transition, $background-color-transition;
			cursor: url(../img/drag-cursor.svg), auto;

			@include qodefScreenSize1440 {
				margin-top: -104px;
			}

			@include qodefScreenSize1366 {
				margin-top: -101px;
			}

			@include qodefScreenSize1024 {
				margin-top: -90px;
			}

			@include qodefScreenSize680 {
				margin-top: -84px;
			}

			.qodef-e-title {
				position: relative;
				display: block;
				font-family: $heading-font;
				font-size: 200px;
				font-weight: 700;
				line-height: 1;
				letter-spacing: -.025em;
				z-index: 2;

				@include qodefScreenSize1440 {
					font-size: 135px;
				}

				@include qodefScreenSize1024 {
					font-size: 80px;
				}

				@include qodefScreenSize680 {
					font-size: 45px;
				}
			}

			&.qodef--active {
				color: $main-color;
			}

			&:hover {
				cursor: url(../img/drag-cursor.svg), auto;
			}
		}
	}
}