/* ==========================================================================
   Testimonials list shortcode styles
   ========================================================================== */

.qodef-testimonials-list {

	&.qodef-item-layout--info-below {
		text-align: center;

		.qodef-e-title {
			margin: 0 0 21px;
		}

		.qodef-e-media-image {
			margin: 0 auto 14px;
		}

		&.qodef-col-num--1 {

			.qodef-e-content {
				padding: 0 15%;

				@include qodefScreenSize1440 {
					padding: 0 10%;
				}

				@include qodefScreenSize1024 {
					padding: 0;
				}
			}
		}

		.swiper-pagination-bullets {
			margin-top: 33px;
		}
	}
}