/* ==========================================================================
   Sticky Sidebar widget start styles
   ========================================================================== */

.widget_borgholm_core_sticky_sidebar {
    position: relative;
    width: 100%;
    height: 0;
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
    background: transparent !important;
}

/* ==========================================================================
   Sticky Sidebar widget end styles
   ========================================================================== */