/* ==========================================================================
# Fullscreen search - start
========================================================================== */

/* Fullscreen search general style - start
========================================================================== */

.qodef-fullscreen-search-holder {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.98);
    z-index: 100;

    .qodef-m-inner{
        width: 100%;
    }

    .qodef-m-form {
        position: relative;
        width: 60%;
        margin: 0 auto;
    }
    
    .qodef-m-form-field {
        height: 100%;
        margin: 0;
        padding: 0;
        font-size: 25px;
        color: $heading-color;
        line-height: 2em;
        background: transparent;
        border: 0;
        border-radius: 0;
    }
    
    .qodef-m-form-submit {
        position: absolute;
        right: 0;
        bottom: -20px;
        width: auto;
        padding: 0;
        margin: 0;
        color: $heading-color;
        background: none;
        border: 0;
        outline: none;
        opacity: 0;
        cursor: pointer;
        transition: $color-transition;
        
        &:hover {
            color: $main-color;
            background: none;
        }
        
        .qodef-fullscreen-search--opened & {
            opacity: 1;
            bottom: 10px;
            transition: color 0.2s ease, opacity .2s ease-out 1.1s, bottom .4s ease-out .9s;
        }
        
        &.qodef-source--icon-pack {
            font-size: 18px;
        }
    }
    
    .qodef-m-form-line {
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 0;
        border-bottom: 1px solid #000;
        transition: all .3s ease;
        
        .qodef-fullscreen-search--opened & {
            width: 100%;
            transition: width 0.5s ease .6s;
        }
    }
    
    .qodef-m-close {
        position: absolute;
        top: 33px;
        right: 70px;
        color: $text-color;
        opacity: 0;
        visibility: hidden;
	    z-index: 1;
        display: none;
        
        .admin-bar & {
            top: 72px;
        }
    
        &:hover {
            color: $heading-color;
        }

        &.qodef-source--icon-pack {
            font-size: 25px;
        }
    
        .qodef-fullscreen-search--opened & {
            opacity: 1;
            visibility: visible;
            display: inline-block;
        }
    }
}
/* Fullscreen search general style - end
========================================================================== */

/* Fullscreen search fade style - start
========================================================================== */

.qodef-fullscreen-search--fadeout .qodef-fullscreen-search-holder {
    animation: fullscreen_search_fade_out .3s ease both;
}

.qodef-fullscreen-search--fadein .qodef-fullscreen-search-holder {
    animation: fullscreen_search_fade_in .3s ease both;
}

@keyframes fullscreen_search_fade_out {
    0% {
        opacity: 1;
        visibility: visible;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes fullscreen_search_fade_in {
    0% {
        opacity: 0;
        visibility: hidden;
    }
    100% {
        opacity: 1;
        visibility: visible;
    }
}

/* Fullscreen search fade style - end
========================================================================== */

/* ==========================================================================
# Fullscreen search - end
========================================================================== */
