/* ==========================================================================
   Triple Frame Image Highlight shortcode styles - begin
   ========================================================================== */

.qodef-triple-frame-image-highlight {

    .qodef-e-holder {
        position: relative;
        text-align: center;

        .qodef-e-inner {
            position: relative;
            display: inline-block;
        }

        .qodef-m-link {
            @include qodefAbsoluteLayout();
            z-index: 100;
        }

        img {
            display: block;
            position: relative;
            z-index: 10;
        }

        .qodef-m-right-image-holder,
        .qodef-m-left-image-holder {
            @include qodefAbsoluteLayout();
            visibility: hidden;
            transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1) .2s, transform-origin 1s cubic-bezier(0.19, 1, 0.22, 1) .2s, visibility .0s .2s;
        }

        .qodef-m-centered-image-holder {
            position: relative;
            display: inline-block;
            vertical-align: middle;
            z-index: 10;
            transform: scale(.7);
            transition: transform .4s cubic-bezier(0.86, 0, 0.07, 1);
        }

        %trigger {
            position: absolute;
            top: 0;
            width: 15%;
            height: 100%;
            z-index: 300;
            cursor: pointer;
        }

        .qodef-m-trigger--left {
            @extend %trigger;
            left: 0;
        }

        .qodef-m-trigger--right {
            @extend %trigger;
            right: 0;
        }

        @at-root .qodef-triple-frame-image-highlight {

            .qodef-e-inner {
                max-width: 70%;
            }
        }
    }

    .qodef-m-pagination {
        margin-top: 26px;

        .qodef-m-bullet {
            position: relative;
            display: inline-block;
            margin: 0 8px;
            width: 36px;
            height: 36px;
            background-color: transparent;
            border: none;
            border-radius: 100%;
            opacity: 1;
            cursor: pointer;
            transition: $border-color-transition;

            &:after {
                content: '';
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                width: 6px;
                height: 6px;
                background-color: $heading-color;
                border-radius: 100%;
                transition: $background-color-transition;
                transform: translateX(-50%) translateY(-50%);
            }

            .qodef-svg-circle {
                position: absolute;
                display: block;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                z-index: 1;
                fill: none;
                color: currentColor;
                stroke: currentColor;

                circle {
                    stroke-dasharray: 110;
                    stroke-dashoffset: 110;
                    stroke-width: 1;
                    transition: all .6s cubic-bezier(.43,.41,.36,.9);
                    transform: rotate(-145deg);
                    transform-origin: center;

                    .qodef-browser--ms-explorer & {
                        opacity: 0;
                    }
                }
            }

            &:hover,
            &.qodef--active {

                .qodef-svg-circle circle {
                    stroke-dashoffset: 0;
                    transform: rotate(55deg);

                    .qodef-browser--ms-explorer & {
                        opacity: 1;
                    }
                }
            }
        }
    }
}

/* ==========================================================================
   Triple Frame Image Highlight shortcode styles - end
   ========================================================================== */