/* ==========================================================================
# Side Area style - begin
========================================================================== */

#qodef-side-area {
	position: fixed;
	top: 0;
	right: -646px;
	width: 646px;
	height: 100%;
	min-height: 100%;
	padding: 260px 90px 90px 71px;
	text-align: center;
	background-color: $background-color;
	overflow: hidden;
	visibility: hidden;
	z-index: 9999;
	transition: $sliding-area-transition;
	box-shadow: -1px 0px 16px 6px rgba(0,0,0,0.04);

	@include qodefScreenSize1440 {
		padding: 9% 90px 3% 71px;
	}

	@include qodefScreenSize1366 {
		padding: 5% 90px 1% 71px;
	}

	@include qodefScreenSize1280 {
		padding: 9% 90px 1% 71px;
	}
	
	.qodef-side-area--opened & {
		right: 0;
		visibility: visible;
	}
	
	&.qodef-alignment--center {
		text-align: center;
	}
	
	&.qodef-alignment--right {
		text-align: right;
	}
	
	&.qodef-alignment--left {
		text-align: left;
	}
}

#qodef-side-area-close {
	position: absolute;
	top: 71px;
	right: 46px;
	display: block;
	z-index: 1000;
	color: $heading-color;
	
	.admin-bar & {
		top: 103px;
	}
	
	&.qodef-source--predefined {
		
		.qodef-m-line {
			
			&.qodef--1 {
				width: 100%;
				top: 13px;
				transform: rotate(45deg) scaleX(1);
			}
			
			&.qodef--2 {
				width: 100%;
				top: 13px;
				left: 0;
				transform: rotate(-45deg) scaleX(1);
			}
		}
		
		&:hover {

			.qodef-m-icon {
				
				.qodef-m-lines {

					.qodef--1 {
						width: 100%;
						top: 13px;
						transition: none;
						transform: rotate(45deg) scaleX(1);
					}
					
					.qodef--2 {
						width: 100%;
						top: 13px;
						left: 0;
						transform: rotate(-45deg) scaleX(1);
					}
				}
			}
		}
	}
}

.qodef-side-area-cover {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	overflow: hidden;
	z-index: 0;
	transition: opacity 0.2s ease-in-out, z-index 0.2s ease-in-out;
	
	.qodef-side-area--opened & {
		opacity: 1;
		z-index: 1002;
	}
}


.qodef-header-custom-styled-sidearea-opener--enabled {

	&.qodef-header--standard {

		.qodef-side-area-opener,
		#qodef-side-area-close {
			background-color: $main-color;
			color: $background-color;
			height: 133px;
			width: 133px;
			top: 0;
			right: 0;
			transition: background-color .3s ease;
			border-radius: 0 100% 0 100% / 0% 0% 100% 100%;

			&.qodef-opener-icon {

				.qodef-m-icon {

					&.qodef--open {
						position: absolute;
						top: calc(50% - 6px);
						left: 61%;
						transform: translate(-50%, -50%);
					}
				}

				&:hover {
					color: $background-color;
				}
			}
		}

		#qodef-side-area-close {

			.qodef-m-lines {
				transform: rotate(0deg);
				transform-origin: center;
				transition: transform 1s cubic-bezier(.475,.425,0,.995);
			}

			&:hover {

				.qodef-m-lines {
					transform: rotate(180deg);
				}
			}
		}

		.qodef-side-area-opener {
			visibility: hidden;
			opacity: 0;

			&.qodef-appear {
				visibility: visible;
				opacity: 1;
			}
		}

		&.admin-bar {

			#qodef-side-area-close {
				top: 32px;
			}
		}

		&.qodef-header-custom-styled-sidearea-opener-skin--light {

			#qodef-page-header-inner {

				.qodef-widget-holder {

					.qodef-opener-icon {

						&.qodef-side-area-opener {
							color: $heading-color !important;
							background-color: $background-color;
						}
					}
				}
			}
		}

		#qodef-page-header {

			.qodef-header-sticky {

				.qodef-header-sticky-inner {

					.qodef-header-wrapper {

						.qodef-side-area-opener {
							top: 0 !important;
							right: 0 !important;
							width: auto;
							height: auto;
							color: $heading-color !important;
							background-color: $background-color;

							&.qodef-opener-icon {

								.qodef-m-icon {

									&.qodef--open {
										top: auto;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}


/* ==========================================================================
# Side Area style - end
========================================================================== */