/* ==========================================================================
   Social Share shortcode styles
   ========================================================================== */

.qodef-social-share {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	
	.qodef-social-title {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		margin: 0 6px 0 0;
		@include qodefCustomTitleStyle();
		font-weight: 500;
	}
	
	ul {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		list-style: none;
		padding: 0;
		margin: 0;
	}
	
	li {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		padding: 0;
		margin: 0;
	}
	
	&.qodef-skin--light {
		
		.qodef-social-title {
			color: #fff;
		}
	}
	
	&.qodef-skin--dark {
		
		.qodef-social-title {
			color: $heading-color;
		}
	}
	
	&.qodef-layout--list.qodef-skin--light.qodef-custom-share-rev {
		
		li a:hover {
			color: #ffb8a3;
			border-color: #ffb8a3;
		}
	}
}

/* ==========================================================================
   Social Share shortcode styles
   ========================================================================== */