/* ==========================================================================
   Icon shortcode styles
   ========================================================================== */

.qodef-icon-holder {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: auto;
	line-height: 1;
	
	a {
		display: block;
	}
	
	.qodef-icon {
		display: block;
		line-height: inherit;
		
		&:before {
			display: block;
			line-height: inherit;
		}
	}
	
	&.qodef-layout--circle,
	&.qodef-layout--square {
		width: 2em;
		height: 2em;
		line-height: 2em;
		text-align: center;
		color: #fff;
		background-color: $main-color;
		transition: $color-transition, $background-color-transition, $border-color-transition;
		
		a {
			color: inherit;
			transition: none;
		}
		
		&:hover {
			background-color: $heading-color;
		}
	}
	
	&.qodef-layout--circle {
		border-radius: 50%;
	}
	
	&.qodef-size--tiny {
		font-size: 1.33333333em;
	}
	
	&.qodef-size--small {
		font-size: 2em;
	}
	
	&.qodef-size--medium {
		font-size: 3em;
	}
	
	&.qodef-size--large {
		font-size: 4em;;
	}
	
	&.qodef-size--huge {
		font-size: 5em;
	}

	.qodef-predefined-layout--custom &,
	&.qodef-predefined-layout--custom {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		padding: 0;
		margin: 0 14px 14px 0;

		#qodef-top-area & {
			margin: 7px 12px 7px 0;
		}

		.qodef-header--vertical-sliding .qodef--static & {
			margin: 0 0 14px;

			&:last-child {
				margin: 0 !important;
			}
		}

		.qodef-header--vertical-sliding .qodef--dynamic & {
			margin: 0 14px 0 0;

			&:last-child {
				margin: 0 !important;
			}
		}

		a {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 36px;
			height: 36px;
			text-align: center;
			transition: .4s ease-out !important;
			color: $heading-color !important;
			background-color: transparent;
			font-size: 11px;
			letter-spacing: 0.15em;
			line-height: 32px;
			font-weight: 400;
			text-transform: uppercase;
			overflow: visible;

			#qodef-top-area & {
				width: 23px;
				height: 23px;
				line-height: 19px;

				.qodef-svg-circle {
					overflow: visible;

					circle {
						stroke-width: 1.3;
					}
				}
			}

			&:hover {
				color: $main-color !important;

				.qodef-svg-circle {

					circle {
						transform: rotate(55deg);
						transition: all .6s cubic-bezier(.43,.41,.36,.9);

						&:first-child {
							stroke-dashoffset: -115;
						}

						&:last-child {
							stroke-dashoffset: 0;
						}
					}
				}
			}
		}

		&:last-child {
			margin-right: 0 !important;
		}

		.qodef-svg-circle {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			overflow: visible;

			circle {
				fill: none;
				stroke-width: 1px;
				transform-origin: center;
				transform: rotate(-145deg);
				transition: all .6s cubic-bezier(.43,.41,.36,.9);

				&:first-child {
					stroke: $border-color;
					stroke-dashoffset: 0;
					stroke-dasharray: 115;
				}

				&:last-child {
					stroke: $main-color;
					stroke-dashoffset: 115;
					stroke-dasharray: 115;
				}
			}
		}

		@at-root body.qodef-footer-skin--light #qodef-page-footer &,
		&.qodef-skin--light {

			a {
				color: #a8a8a8 !important;

				.qodef-svg-circle {

					circle:first-child {
						stroke: #a8a8a8;
					}

					circle:last-child {
						stroke: #fff;
					}
				}

				&:hover {
					color: #fff !important;
				}
			}
		}

		&.qodef-skin--dark {

			a {
				color: $heading-color !important;

				.qodef-svg-circle {

					circle:first-child {
						stroke: $heading-color;
					}

					circle:last-child {
						stroke: $main-color;
					}
				}

				&:hover {
					color: $main-color !important;
				}
			}
		}
	}
}