/* ==========================================================================
   Standard Title layout styles
   ========================================================================== */

.qodef-page-title {
	
	&.qodef-title--standard {
	
		.qodef-m-subtitle {
			margin: 0 0 14px;
			@include qodefH7Style();
			color: $heading-color;
		}
	}
}
