/* ==========================================================================
   Image Gallery shortcode styles
   ========================================================================== */

.qodef-image-gallery {

	&:not(.qodef-swiper-container) {

		.qodef-image-wrapper {
			overflow: hidden;

			img {
				transform: scale(1.05);
				transition: all 1s cubic-bezier(.475,.425,0,.995);
				will-change: transform;
			}

			&:hover {

				img {
					transform: scale(1.01);
				}
			}
		}
	}

	&.qodef-popup-gallery {

		.qodef-image-wrapper {

			.qodef-popup-item {
				display: block;
				width: 100%;
				height: 100%;
				overflow: hidden;
			}
		}
	}

	&.qodef-swiper-container {

		&.qodef-slider-layout--asymmetric {

			.swiper-slide {
				width: 72.5%;
				cursor: grab;
			}
		}

		&.qodef-slider-layout--center-highlight {
			padding: 104px 25px;
			cursor: url(../img/drag-cursor.svg), auto;

			.swiper-slide {

				img {
					transform: scale(0.9);
					transition: .5s cubic-bezier(0, 0.85, 0.25, 1);
					overflow: hidden;
					backface-visibility: hidden;
					-webkit-font-smoothing: subpixel-antialiased;
					box-shadow: 3px 4px 32px 0px rgba(210, 158, 117, 0.35);
					border-radius: 39px;
				}

				&.swiper-slide-active,
				&.swiper-slide-duplicate-active {

					&:after {
						opacity: 0;
						transform: scale(1);
						transition: 1s .2s cubic-bezier(0.5, 0.11, 0, 0.93);
						box-shadow: none;
					}

					img {
						transform: scale(1);
						transition: 1s .2s cubic-bezier(0.5, 0.11, 0, 0.93);
						box-shadow: none;
						filter: none;
					}
				}
			}
		}
	}
}