/* ==========================================================================
   Portfolio Single variation responsive styles
   ========================================================================== */

@include qodefScreenSize1024 {
    
    .qodef-portfolio-single {
        
        &.qodef-layout--masonry-big {

        }
    }
}
