.qodef-team-list {

	&.qodef-item-layout--info-on-hover {
		
		.qodef-e-inner {

			&:hover {
				
				.qodef-e-content {
					opacity: 1;
					z-index: 1; // safari fix
				}

				.qodef-e-title,
				.qodef-e-role,
				.qodef-team-member-social-icons {
					opacity: 1;
					visibility: visible;
					transform: translateY(0);
				}
			}
		}
		
		.qodef-e-content {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background-color: #fff;
			display: flex;
			justify-content: center;
			align-items: center;
			opacity: 0;
			transition: .2s ease-out;
			z-index: -1; // safari fix
		}

		.qodef-e-content-inner {
			display: flex;
			justify-content: center;
			align-items: flex-start;
			flex-direction: column;
			width: 65%;
		}

		.qodef-e-title,
		.qodef-e-role,
		.qodef-team-member-social-icons {
			opacity: 0;
			visibility: hidden;
			transform: translateY(10px);
			transition: all .6s cubic-bezier(.475,.425,0,.995);
		}

		.qodef-e-title,
		.qodef-e-role {
			transition-delay: .1s;
		}

		.qodef-team-member-social-icons {
			transition-delay: .2s;
		}
	}
}