@import '../../../../../../../themes/borgholm/assets/css/scss/variables';
@import '../../../../../../../themes/borgholm/assets/css/scss/mixins';

.qodef-core-dashboard{
	max-width: initial !important;

	.qodef-core-dashboard-inner{
		margin: 0 -15px;
		display: inline-block;
		width: 100%;
	}

	.qodef-cd-logo {
		display: inline-block;
		vertical-align: middle;
		padding-right: 15px;
		width: 62px;
	}
	.qodef-cd-title {
		display: inline-block;
		vertical-align: middle;
		font-size: 41px;
		font-weight: 400;
		margin: 0;
	}

	.qodef-cd-title-holder {
		margin-bottom: 30px;
	}

	.qodef-cd-subtitle {
		font-size: 18px;
		line-height: 25px;
		font-weight: 400;
		color: #555d66;
		max-width: 610px;
		margin: 10px 0 30px;
	}
	.qodef-core-dashboard-column {
		float: left;
		width: 100%;
		max-width: 610px;
		padding: 0 15px;

		&.qodef-cd-smaller-column {
			max-width: 380px;
		}

		.qodef-core-dashboard-box {
			background-color: #fff;

			&.qodef-core-bottom-space {
				margin-bottom: 30px;
			}

			.qodef-cd-box-title-holder {
				padding: 28px 34px 23px;

				p {
					margin: 19px 0 0;
					padding: 0;
					font-size: 16px;
					line-height: 22px;
					font-weight: 400;
					color:#555d66;
				}
			}

			&.qodef-cd-import-box {
				.qodef-cd-box-title-holder {

					p {
						font-size: 14px;
						line-height: 20px;
						margin: 17px 0 0;
					}
				}

				.qodef-cd-label {
					font-weight: 600;
					margin-bottom: 15px;
				}

			}

			h2 {
				margin: 0;
				padding: 0;
				font-size: 25px;
				font-weight: 400;
				color: #32373c;
				text-align: left;
			}

			h3 {
				margin: 0;
				padding: 0;
			}

			.qodef-cd-field-holder {
				padding-bottom: 30px;
			}
			.qodef-cd-label {
				display: block;
				color: #555d66;
				font-size: 14px;
				margin-bottom: 7px;
			}
			.qodef-cd-input {
				border: none;
				border-bottom: 1px solid #c2c2c2;
				outline: 0;
				width: 50%;
				box-shadow: none;
				color: #555d66;
				font-size: 14px;
				padding: 4px 0;
				margin: 0;
				&:focus {
					outline: 0;
					border-color: #c2c2c2;

					@include qodefPlaceholder {
						color: #555d66;
					}
				}
				@include qodefPlaceholder {
					color: #555d66;
				}

				&:-webkit-autofill,
				&:-webkit-autofill:hover,
				&:-webkit-autofill:focus,
				&:-webkit-autofill:active  {
					-webkit-box-shadow: 0 0 0 30px white inset !important;
				}

				&:-webkit-autofill {
					-webkit-text-fill-color: #666 !important;
				}

			}


			.qodef-cd-error-field {
				border-bottom-color: #ee3535;
			}

			.qodef-cd-error-message {
				display: block;
				color: #ee3535;
				font-size: 12px;
				margin-top: 5px;
			}

			.qodef-cdb-problem {
				border: 1px solid #e1e1e1;
				border-left: 3px solid #ee3535;
				padding: 15px;
				margin-bottom: 25px;

				p {
					font-size: 12px;
					line-height: 18px;
					font-weight: 600;
					margin: 0;
					padding: 0;
				}

			}

			&:last-child {

				.qodef-cd-box-row {
					&:last-child {
						padding-bottom: 10px;
					}
				}

			}

		}

		.qodef-cd-button {
			padding: 7px 35px;
			font-size: 16px;
			line-height: 1em;
			color: #fff;
			background-color: #3596ee;
			border: none;
			border-radius: 5px;
			box-shadow: 0 2px 0 0 rgba(36, 110, 174, 1);
			cursor: pointer;
			
			&.qodef-import-demo-data-disabled,
			&.qodef-cd-button-disabled {
				background-color: #6bb4f7;
			}
		}

		.qodef-cd-button-wait {
			display: none;
			font-size: 12px;
			color: #3596ee;
			margin-left: 15px;
			font-weight: 400;
		}

		a.qodef-cd-button {
			text-decoration: none;
		}
		.qodef-cd-box-section {

			h3 {
				padding: 0;
				margin: 0 0 24px;
				color: #555d66;
				font-size: 17px;
				line-height: 20px;
			}

			padding: 0 35px 10px;


		}

		.qodef-cd-box-list {
			padding: 10px 35px;
			margin: 0;

			li {
				font-size: 15px;
				margin: 0 0 25px;

				a {
					color: #3675ae;
				}

			}

		}

		.qodef-cd-box-row {
			display: table;
			padding: 0 20px;
			border-bottom: 1px solid #f1f1f1;
			width: 100%;
			box-sizing: border-box;
			font-size: 14px;

		}

		.qodef-cdb-label,
		.qodef-cdb-value {
			display: table-cell;
			width: 50%;
			padding: 17px 15px;
		}

		.qodef-cdb-value {
			color: #3e87be;
		}

		.qodef-cdb-value-false span{
			color: #ea3a27;
		}

		.qodef-cd-import-form {
			padding: 0 30px 10px 30px;

			.qodef-cd-box-form-section {
				padding: 0 0 28px;


				&.qodef-cd-box-form-section-columns {
					display: flex;
					margin: 0 -15px;

					.qodef-cd-box-form-section-column{
						padding: 0 15px;
						&:first-child {
							width: 75%;
						}
						&:last-child {
							width: 25%;
						}
					}
				}
				.qodef-import-demo,
				.qodef-cd-import-option {
					width: 100%;
				}

				.select2-container--default .select2-selection--single {
					border-radius: 0;
					border-color: #e1e1e1;
					height: 34px;

					.select2-selection__rendered {
						line-height: 34px;
					}

					.select2-selection__arrow {
						height: 32px;
					}
				}



			}

			.qodef-cd-import-is-completed {
				display: none;
				color: #3596ee;
				font-size: 14px;
				font-weight: 600;
			}
			.qodef-cd-import-went-wrong {
				display: none;
				color: #3596ee;
				font-size: 14px;
				font-weight: 600;

				a {
					color: inherit;
				}
			}


			.qodef-cd-box-form-section-dependency,
			.qodef-cd-box-form-section-progress {
				display: none;
			}

		}

	}
}

#qodef-progress-bar[value] {
	/* Reset the default appearance */
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	/* Get rid of default border in Firefox. */
	border: none;

	/* Dimensions */
	width: 100%;
	height: 5px;
}
#qodef-progress-bar[value]::-webkit-progress-bar {
	background-color: #fff;
	border: 1px solid #e1e1e1;
	border-radius: 0;
}

/* IE10 */
#qodef-progress-bar {
	color: #3596ee;
}

/* Firefox */
#qodef-progress-bar::-moz-progress-bar {
	background: #3596ee;
}

/* Chrome */
#qodef-progress-bar::-webkit-progress-value {
	background: #3596ee;
}

/* Polyfill */
#qodef-progress-bar[aria-valuenow]:before  {
	background: #3596ee;

}

.qodef-cd-selection {

	li.select2-results__option {
		padding: 10px;
		margin: 0;
	}

	img {
		vertical-align: middle;
		padding-right: 20px;
	}
	.select2-container--default & .select2-results__option[aria-selected=true] {
		background-color: #fafafa;
	}

	.select2-container--default & .select2-results__option--highlighted {
		background-color: #fafafa;
		color: #000000;
	}
}
.qodef-cd-action-selection,
.qodef-cd-single-page-selection {
	li.select2-results__option {
		margin: 0;
	}
	.select2-container--default & .select2-results__option[aria-selected=true] {
		background-color: #fafafa;
	}

	.select2-container--default & .select2-results__option--highlighted {
		background-color: #fafafa;
		color: #000000;
	}
}
.qodef-cd-import-single-page{
	width: 100%;
}
.qodef-cd-switch {
	display: inline-block;
	border: 1px solid #e1e1e1;
	border-radius: 40px;
	overflow: hidden;

	.qodef-cd-import-attachments{
		display: none;
	}
	.qodef-cd-cb-enable,
	.qodef-cd-cb-disable{
		display: block;
		float: left;
		padding: 0 10px;

		&.selected {
			background-color: #3596ee;
			color: #fff;
		}
	}

	.qodef-cd-cb-enable span,
	.qodef-cd-cb-disable span{
		line-height: 32px;
		font-size: 13px;
		display: block;
		font-weight: bold;
	}
}



