/* ==========================================================================
   Section Title shortcode styles
   ========================================================================== */

.qodef-section-title {
	@include qodefRelativeLayout();

	&.qodef-alignment--center {
		text-align: center;
	}

	&.qodef-alignment--left {
		text-align: left;
	}

	&.qodef-alignment--right {
		text-align: right;
	}

	&.qodef-animate-special-style {

		.qodef-m-title {

			.qodef-special-style {
				display: inline-block;
				opacity: 0;
				visibility: hidden;
				transform: translateX(-10px);
				transition: .5s ease;

				&.qodef-animate {
					opacity: 1;
					visibility: visible;
					transform: translateX(0);
				}

				@for $i from 2 through 10 {
					&:nth-of-type(#{$i}) {
						transition-delay: #{($i) / 10}s;
					}
				}
			}
		}
	}

	.qodef-m-tagline {
		@include qodefCustomTitleStyle($custom-text3-color, 11px, 500);
		margin: 0 0 12px;
	}

	.qodef-m-title {
		margin: 0;

		.qodef-special-style {
			color: $main-color;
		}
	}

	div.qodef-m-title {
		font-family: $heading-font;
		font-size: 120px;
		font-weight: 700;
		line-height: 100px;
		letter-spacing: -.025em;
		color: $heading-color;

		@media only screen and (min-width: 1025px) and (max-width: 1919px) {
			font-size: 100px;
			line-height: 80px;
		}

		@include qodefScreenSize1024 {
			font-size: 55px;
			line-height: 55px;
		}

		@include qodefScreenSize680 {
			font-size: 45px;
			line-height: 45px;
		}
	}

	span.qodef-m-title {
		display: block;
		font-family: $heading-font;
		font-size: 80px;
		font-weight: 700;
		line-height: 70px;
		letter-spacing: -.025em;
		color: $heading-color;
	}

	.qodef-m-subtitle {
		margin: 20px 0 0;
		font-family: $heading-font;
		font-size: 24px;
		font-weight: 500;
		font-style: italic;
		line-height: 32px;
		color: $heading-color;
	}

	.qodef-m-text {
		margin: 10px 0 0;

		.qodef-special-style {
			font-weight: 600;
		}
	}

	&.qodef-text-custom-styles--enabled {

		.qodef-m-text {
			font-family: $heading-font;
			font-size: 24px;
			font-weight: 500;
			font-style: italic;
		}
	}
}