/* ==========================================================================
   Team lists shortcode styles
   ========================================================================== */

.qodef-team-list {

	.qodef-e-inner {
		position: relative;
	}

	.qodef-e-role {
		font-family: $heading-font;
		font-size: 22px;
		font-weight: 500;
		line-height: 28px;
		font-style: italic;
		margin: 0 0 17px;
	}
	
	.qodef-e-title {
		margin: 0;
	}
	
	.qodef-team-member-social-icons {
		display: inline-flex;
		margin: 0;

		a {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 36px;
			height: 36px;
			margin-right: 14px;
			font-size: 10px;
			line-height: 1;
			text-align: center;
			color: #232323;
			border: none;
			border-radius: 100%;
			transition: $color-transition, $border-color-transition;

			.qodef-svg-circle {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;

				circle {
					fill: none;
					stroke: $border-color;
					stroke-width: 1px;
				}

				circle:last-child {
					stroke: $main-color;
					stroke-dashoffset: 110;
					stroke-dasharray: 110;
					transition: all .6s cubic-bezier(.43,.41,.36,.9);
					transform: rotate(-145deg);
					transform-origin: center;
				}
			}

			&:hover {
				color: $main-color;

				.qodef-svg-circle {

					circle:last-child {
						stroke-dashoffset: 0;
						transform: rotate(55deg);
						transition: all .6s cubic-bezier(.43,.41,.36,.9);
					}
				}
			}

			&:last-child {
				margin-right: 0;
			}
		}
	}
}