/* ==========================================================================
   Social Share shortcode styles
   ========================================================================== */

.qodef-social-share {
	
	$socialShareItemWidth: 50px;
	$socialShareItemHeight: 50px;
	$socialShareWidth: 36px;
	$socialShareHeight: 36px;
	
	&.qodef-layout--dropdown {
		position: relative;
		display: inline-block;

		.qodef-social-title {
			margin: 0;
		}
		.qodef-social-share-icon {
			line-height: inherit;
			vertical-align: middle;
		}
		
		&:hover {
			
			.qodef-social-share-dropdown ul li {
				opacity: 1;
				visibility: visible;
				cursor: pointer;
				
				/* opacity and visibility need to be different, but not background-color */
				@for $i from 2 through 7 {
					&:nth-child(#{$i}) {
						$transition-delay: #{($i)/10+s};
						
						-webkit-transition-delay: $transition-delay;
						-moz-transition-delay: $transition-delay;
						transition-delay: $transition-delay;
					}
				}
			}
		}
		
		.qodef-social-share-dropdown-opener {
			display: block;
			line-height: $socialShareHeight;
			
			.qodef-social-share-title {
				display: inline-block;
			}
		}
		
		.qodef-social-share-dropdown {
			position: absolute;
			visibility: hidden;
			z-index: 950;
			
			ul {
				position: relative;
				display: block;
				z-index: 990;
				margin: 0;
				padding: 0 !important;
			}
			
			li {
				position: absolute;
				display: block;
				text-align: center;
				visibility: hidden;
				overflow: hidden;
				opacity: 0;
				transition: opacity .2s ease-out, visibility .2s ease-out;

				a {
					display: flex;
					align-items: center;
					justify-content: center;
					width: $socialShareWidth;
					height: $socialShareHeight;
					font-size: 10px;
					line-height: 1;
					text-align: center;
					color: #232323;
					border: none;
					border-radius: 100%;
					transition: $color-transition, $border-color-transition;

					.qodef-svg-circle {
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						overflow: visible;

						circle {
							fill: none;
							stroke-width: 1px;
							transform-origin: center;
							transform: rotate(-145deg);
							transition: all .6s cubic-bezier(.43,.41,.36,.9);

							&:first-child {
								stroke: $border-color;
								stroke-dashoffset: 0;
								stroke-dasharray: 115;
							}

							&:last-child {
								stroke: $main-color;
								stroke-dashoffset: 115;
								stroke-dasharray: 115;
							}
						}
					}

					&:hover {
						color: $main-color;

						.qodef-svg-circle {

							circle {
								transform: rotate(55deg);
								transition: all .6s cubic-bezier(.43,.41,.36,.9);

								&:first-child {
									stroke-dashoffset: -115;
								}

								&:last-child {
									stroke-dashoffset: 0;
								}
							}
						}
					}
				}

				* {
					display: block;
					line-height: inherit;
				}
			}
		}
		
		&.qodef-dropdown--bottom {
			
			.qodef-social-share-dropdown {
				bottom: 0;
				left: 0;
				
				li {
					width: $socialShareWidth;
					height: $socialShareItemHeight;
					line-height: $socialShareItemHeight;
					
					@for $i from 1 through 7 {
						&:nth-child(#{$i}) {
							bottom: #{-$i*(($socialShareItemHeight))};
						}
					}
				}
			}
		}
		
		&.qodef-dropdown--right {
			
			.qodef-social-share-dropdown {
				top: 0;
				right: 0;
				
				li {
					width: #{$socialShareItemWidth};
					padding-left: 14px;
					
					@for $i from 1 through 7 {
						&:nth-child(#{$i}) {
							left: #{($i - 1)*$socialShareItemWidth};
						}
					}
				}
			}
		}
		
		&.qodef-dropdown--left {
			
			.qodef-social-share-dropdown {
				top: 0;
				left: 0;
				
				li {
					width: #{$socialShareItemWidth};
					padding-right: 14px;
					
					@for $i from 1 through 7 {
						&:nth-child(#{$i}) {
							right: #{($i - 1)*$socialShareItemWidth};
						}
					}
				}
			}
		}

		&.qodef-skin--light {

			.qodef-social-share-dropdown-opener {
				color: #fff;

				&:hover {
					color: $main-color;
				}
			}

			.qodef-social-share-dropdown {

				li {

					a {
						color: #fff;
						border: 1px solid #fff;

						&:hover {
							color: $main-color;
							border-color: $main-color;
						}
					}
				}
			}
		}

		&.qodef-skin--dark {

			.qodef-social-share-dropdown-opener {
				color: $heading-color;

				&:hover {
					color: $main-color;
				}
			}

			.qodef-social-share-dropdown {

				li {

					a {
						color: $heading-color;
						border: 1px solid $heading-color;

						&:hover {
							color: $main-color;
							border-color: $main-color;
						}
					}
				}
			}
		}
	}
}

/* ==========================================================================
   Social Share shortcode styles
   ========================================================================== */