.qodef-button {
	
	&.qodef-layout--textual {
		font-size: 11px;
		text-transform: uppercase;
		font-weight: 600;
		color: $heading-color;
		background-color: transparent;
		border: 0;
		
		.qodef-m-text {
			display: inline-block;
			vertical-align: middle;
		}
		
		@include qodefButtonArrowStyle(textual);

		&:not(.qodef-size--full) {
			padding: 0 !important;
		}

		&.qodef-size--full {

			&:before,
	        &:after {
	            display: none;
	        }
		}
	}
}