/* ==========================================================================
   Accordion shortcode styles
   ========================================================================== */

.qodef-accordion.qodef-layout--simple {
	
	.qodef-accordion-title {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 12px 0 0;
		padding: 13px 0 5px 0;
		border-bottom: 2px solid #e5d9d0;
		transition: color .2s ease-out, background-color .2s ease-out;
		cursor: pointer;
		
		&:first-child {
			margin-top: 0;
		}
		
		.qodef-accordion-mark {
			position: relative;
			flex-shrink: 0;
			width: 17px;
			height: 17px;

			span {
				position: absolute;
				display: block;
				width: 100%;
				top: 50%;
				transform: translateY(-50%);
				transition: opacity .2s ease-out;
				
				&:before {
					display: block;
					line-height: inherit;
				}
				
				&.qodef-icon--minus {
					opacity: 0;
				}
				
				&.qodef-icon--plus {
					opacity: 1;
				}
			}
		}
		
		&.ui-state-active,
		&.ui-state-hover {

			.qodef-accordion-mark {
				
				span {
					
					&.qodef-icon--minus {
						opacity: 1;
					}
					
					&.qodef-icon--plus {
						opacity: 0;
					}
				}
			}
		}
	}
	
	.qodef-accordion-content {
		padding: 24px 0 12px;
		margin: 0;
		font-size: 16px;
		
		p {
			margin: 0;
		}
	}
}