/* ==========================================================================
   Progress Bar shortcode styles
   ========================================================================== */

.qodef-progress-bar {
	@include qodefRelativeLayout();
	visibility: hidden;
	
	.qodef-m-inner {
		position: relative;
		display: flex;
		flex-direction: column;
	}
	
	.qodef-m-canvas {
		@include qodefRelativeLayout();
		
		svg {
			display: block;
		}
	}
	
	.qodef-m-title {
		margin: 23px 0 0;
	}
	
	&.qodef--init {
		visibility: visible;
	}
	
	&:not(.qodef-layout--line) {
		
		.progressbar-text {
			@include qodefAbsoluteLayout();
			display: flex;
			align-items: center;
			justify-content: center;
		    padding: 0 0 18px;
			margin: 0;
			font-family: $heading-font;
			font-size: 60px;
			font-weight: 700;
			text-transform: uppercase;
			color: #1a1a1a;
		}
	}
	
	&.qodef-layout--semi-circle {
		
		.progressbar-text {
			padding-top: 20px;
			transform: none !important;
		}
	}
	
	&.qodef-layout--line {
		
		.qodef-m-inner {
			flex-direction: column-reverse;
		}
		
		.proggress {
			width: 0;
		}
		
		.percentCount {
			position: absolute;
			top: -36px;
			right: -2px;
			width: auto;
			@include qodefHeadingStyle(h5);
		}
		
		.qodef-m-title {
			margin: 0 0 9px;
		}
		
		&.qodef-percentage--floating {
			
			.percentCount {
				left: 0;
				right: auto;
				transform: translateX(-50%);
			}
		}
	}
}