/* ==========================================================================
   Video Button shortcode start styles
   ========================================================================== */

.qodef-video-button {
	position: relative;
	display: inline-block;
	vertical-align: middle;

	.qodef-m-play {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		display: flex;
		align-items: center;
		justify-content: center;
		color: $main-color;
		font-size: 65px;
		line-height: 1;

		span {
			display: block;
			line-height: inherit;

			&:before {
				display: block;
				line-height: inherit;
			}
		}

		.qodef-m-play-inner {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 160px;
			height: 160px;
			border-radius: 100%;
			
			@include qodefScreenSize680 {
				width: 80px;
				height: 80px;
			}

			svg {
				width: 100%;
				height: 100%;
				overflow: visible;
				fill: none;

				circle {
					fill: none;
					stroke-width: 2px;
					transform-origin: center;
					transform: rotate(-145deg);
					transition: all .6s cubic-bezier(.43,.41,.36,.9);

					&.qodef-svg-circle-one {
						stroke: #fff;
						stroke-dashoffset: 0;
						stroke-dasharray: 500;
					}

					&.qodef-svg-circle-two {
						stroke: $main-color;
						stroke-dashoffset: 500;
						stroke-dasharray: 500;
					}
				}

				.qodef-svg-triangle {
					fill: currentColor;
				}
			}
		}

		&:hover {

			.qodef-m-play-inner {

				svg {

					circle {
						transform: rotate(55deg);
						transition: all .6s cubic-bezier(.43,.41,.36,.9);

						&.qodef-svg-circle-one {
							stroke-dashoffset: -500;
						}

						&.qodef-svg-circle-two {
							stroke-dashoffset: 0;
						}
					}
				}
			}
		}
	}
}
/* ==========================================================================
   Video Button shortcode end styles
   ========================================================================== */