/* ==========================================================================
   Portfolio Single variation responsive styles
   ========================================================================== */

@include qodefScreenSize1024 {
    
    .qodef-portfolio-single {
        
        &.qodef-layout--images-small {
            
            .qodef-media {
                margin: 0 0 50px;
            }
        }
    }
}
