/* ==========================================================================
   Global styles
   ========================================================================== */

.borgholm-core-page-inline-style {
	position: absolute !important;
	width: 0;
	height: 0;
	line-height: 1;
	display: none;
}