/* ==========================================================================
   Counter shortcode styles
   ========================================================================== */

.qodef-counter.qodef-layout--simple {
	text-align: center;

	.qodef-m-digit {
		font-family: $heading-font;
		font-size: 100px;
		font-weight: 700;
		line-height: 1;
		color: #e1e1e1;
	}

	.qodef-m-title {
		margin: 25px 0 0 0;
	}

	div.qodef-m-title {
		font-size: 11px;
		font-weight: 500;
		text-transform: uppercase;
		letter-spacing: .1em;
		color: $custom-text3-color;
	}

	.qodef-m-text {
		margin: 0;
	}
}
