/* ==========================================================================
   Testimonials list shortcode styles
   ========================================================================== */

.qodef-testimonials-list {

	&.qodef-item-layout--info-on-side {

		.qodef-e-inner {
			display: flex;

			@include qodefScreenSize480 {
				flex-direction: column;
			}
		}

		.qodef-e-quote-mark {
			position: absolute;
			bottom: 0;
			right: 0;
			
			@include qodefScreenSize1024 {
				display: none;
			}
		}

		.qodef-e-title {
			margin: 0 0 25px;
		}

		.qodef-e-media-image {
			flex-shrink: 0;
			margin: 0 37px 0 0;

			@include qodefScreenSize480 {
				margin: 0 0 28px;
			}
		}

		.qodef-e-text {
			margin: 5px 0 0;
		}

		.qodef-e-author {
			margin: 30px 0 0;

			.qodef-e-author-job {
				color: $custom-text3-color;
			}
		}

		&.qodef-col-num--1 {

			.qodef-e-content {
				padding-right: 25%;

				@include qodefScreenSize1440 {
					padding-right: 22%;
				}

				@include qodefScreenSize1024 {
					padding-right: 0;
				}
			}
		}

		.swiper-pagination-bullets {
			margin-top: 22px;
			margin-left: 99px;
			text-align: left;

			@include qodefScreenSize480 {
				margin-left: 0;
			}

			.swiper-pagination-bullet {

				&:after {
					background-color: $heading-color;
				}

				&:hover,
				&.swiper-pagination-bullet-active {
					border-color: $heading-color;

					&:after {
						background-color: $heading-color;
					}
				}
			}
		}

		&.qodef-skin--light {

			.swiper-pagination-bullets {

				.swiper-pagination-bullet {

					&:after {
						background-color: #fff;
					}

					&:hover,
					&.swiper-pagination-bullet-active {
						border-color: #fff;

						&:after {
							background-color: #fff;
						}
					}
				}
			}
		}
	}
}