.qodef-portfolio-list.qodef-item-layout--info-below.qodef-hover-animation--tilt {

    &.qodef-swiper-fix.qodef-swiper-container {
        width: calc(100% + 5px);
    }

    &.qodef-info-below-disable-animation {

        .qodef-e-inner {

            .qodef-e-image {
                perspective: none;
                -webkit-perspective: none;

                .qodef-e-media-image {
                    transform: scale(1) rotateY(0);

                    img {
                        transform: scale(1);
                    }
                }

                &:hover {

                    +.qodef-e-content {

                        .qodef-e-title-link {
                            color: $main-color;
                        }
                    }
                }
            }

            .qodef-e-info-category,
            .qodef-e-title {
                opacity: 1;
                visibility: visible;
                transform: rotateZ(0) translateY(0);
            }

            &:hover {

                .qodef-e-image {

                    .qodef-e-media-image {
                        transform: scale(1) rotateY(0);

                        img {
                            transform: scale(1);
                        }
                    }
                }

                .qodef-e-info-category,
                .qodef-e-title {
                    opacity: 1;
                    visibility: visible;
                    transform: rotateZ(0) translateY(0);
                }
            }
        }
    }

    .qodef-e-inner {

        .qodef-e-image {
            perspective: 1000px;
            -webkit-perspective: 1000px;

            .qodef-e-media-image {
                overflow: hidden;
                transform: scale(1) rotateY(0);
                transition: all .8s cubic-bezier(.475,.425,0,.995);
                will-change: transform;

                img {
                    transform: scale(1);
                    transition: transform 2s cubic-bezier(.19,1,.22,1);
                    will-change: transform;
                }
            }
        }

        .qodef-e-info-category,
        .qodef-e-title {
            opacity: 0;
            visibility: hidden;
            transform: rotateZ(5deg) translateY(8px);
            transform-origin: left;
            transition: all 1s cubic-bezier(.475,.425,0,.995);
            will-change: transform;
            transition-delay: 0s;
        }

        &:hover {

            .qodef-e-image {

                .qodef-e-media-image {
                    transform: scale(.95) rotateY(-9deg);

                    img {
                        transform: scale(1.1);
                    }
                }
            }

            .qodef-e-info-category,
            .qodef-e-title {
                opacity: 1;
                visibility: visible;
                transform: rotateZ(0) translateY(0);
            }

            .qodef-e-info-category {
                transition-delay: 0s;
            }

            .qodef-e-title {
                transition-delay: .08s;
            }
        }
    }
}
