/* ==========================================================================
   Full Screen Menu Opener styles
   ========================================================================== */

.qodef-fullscreen-menu-opener {

	#qodef-page-header & {
		background-color: $main-color;
		color: $background-color;
		height: 133px;
		width: 133px;
		top: 0;
		right: 0;
		transition: background-color .3s ease;
		border-radius: 0 100% 0 100% / 0% 0% 100% 100%;
		visibility: hidden;
		opacity: 0;

		.qodef-header--light & {
			background-color: $background-color;
			color: $heading-color !important;
		}

		&.qodef-appear {
			visibility: visible;
			opacity: 1;
		}

		&.qodef-opener-icon {

			.qodef-m-icon {
				position: relative;
				visibility: visible;

				&.qodef--open,
				&.qodef--close {
					position: absolute;
					top: 50%;
					left: 61%;
					transform: translate(-50%, -50%);
				}

				&.qodef--close {
					visibility: hidden;
				}
			}

			&:hover {
				color: $background-color;
			}
		}
	}

	#qodef-page-mobile-header & {
		color: $heading-color;
	}
	
	&.qodef-source--predefined {
		
		.qodef-fullscreen-menu-animate--in & {
			
			.qodef-m-line {
				
				&.qodef--1 {
					top: 12px;
					transform: rotate(45deg);
				}
				
				&.qodef--2 {
					top: 14px;
					left: 1px;
					transform: rotate(-45deg);
				}
			}

			&:hover {
				.qodef-m-icon {

					.qodef-m-lines {

						.qodef--2 {
							top: 12px;
							left: 0;
						}
					}
				}
			}
		}
	}
}

.qodef-fullscreen-menu--opened {

	.qodef-fullscreen-menu-opener {
		color: $heading-color;

		.qodef-m-icon {
			visibility: hidden;

			&.qodef--close {
				visibility: visible !important;
			}
		}
	}

	#qodef-page-header {

		.qodef-fullscreen-menu-opener {
			color: #fff !important;
			background-color: $main-color;
		}
	}
	
	#qodef-page-header,
	#qodef-page-mobile-header {
		visibility: hidden;

		.qodef-opener-icon .qodef-m-icon {
			visibility: hidden;
		}
	}
	
	.qodef-header-logo-link,
	.qodef-mobile-header-logo-link,
	.qodef-header-logo-image.qodef--customizer,
	.qodef-fullscreen-menu-opener {
		visibility: visible;
	}
	
	#qodef-page-header .qodef-header-logo-link img {

		&.qodef--dark {
			opacity: 1;
		}
		
		&.qodef--main,
		&.qodef--light {
			opacity: 0;
		}
	}
}