/* ==========================================================================
   Full Screen Menu styles
   ========================================================================== */

#qodef-fullscreen-area {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: transparent;
	overflow-x: hidden !important;
	visibility: hidden;
	opacity: 0;
	z-index: 99; /* smaller than header, bigger than content */

	&:before {
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background-color: #fff;
		clip-path: circle(8% at 100% 0%);
		-webkit-clip-path: circle(8% at 100% 0%);
		transition: clip-path .3s linear;
	}
	
	.qodef-content-grid {
		height: 100%;
		
		.qodef-fullscreen-menu {
			width: 100%;
		}
	}
	
	.qodef-fullscreen-menu-animate--in & {
		animation: qode-fade-in 0s linear both;

		&:before {
			clip-path: circle(150% at 100% 0%);
			-webkit-clip-path: circle(150% at 100% 0%);
		}

		.qodef-fullscreen-menu {

			ul {

				li {
					opacity: 1;
					visibility: visible;
					transform: translateY(0);

					&:first-child {
						transition-delay: .2s;
					}

					@for $i from 2 through 10 {
						&:nth-child(#{$i}) {
							transition-delay: #{($i) / 10 + .12s};
						}
					}
				}
			}
		}

		.qodef-widget-holder {
			opacity: 1;
			visibility: visible;
			transform: translateY(0);
			transition: all 1s cubic-bezier(.475,.425,0,.995) .7s;
		}
	}
	
	.qodef-fullscreen-menu-animate--out & {
		animation: qode-fade-out 0s linear both 1s;

		&:before {
			clip-path: circle(8% at 100% 0%);
			-webkit-clip-path: circle(8% at 100% 0%);
		}

		.qodef-fullscreen-menu {

			ul {

				li {
					transition: opacity .2s ease 0s, visibility .2s ease 0s, transform .2s ease .4s;
				}
			}
		}

		.qodef-widget-holder {
			transition: opacity .2s ease 0s, visibility .2s ease 0s, transform .2s ease .4s;
		}
	}
}

#qodef-fullscreen-area-inner {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100%;
}

$menu-top-bottom-spacing: 10px 0 5px;
$menu-level-two-left-spacing: 12px;

.qodef-fullscreen-menu-holder {
	position: relative;
	top: 0;
	left: 60%;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	text-align: left;

	@include qodefScreenSize1024 {
		left: 0;
	}

	@include qodefScreenSize680 {
		left: 4%;
	}

	.qodef-widget-holder {
		position: absolute;
		bottom: 80px;
		opacity: 0;
		visibility: hidden;
		transform: translateY(30px);
		transition: all 1s cubic-bezier(.475,.425,0,.995) 0s;

		@include qodefScreenSize1366 {
			bottom: 30px;
		}

		@include qodefScreenSize680 {
			display: none;
		}
	}
}

.qodef-fullscreen-menu {
	position: relative;
	top: 190px;

	@include qodefScreenSize1440 {
		top: 125px;
	}

	@include qodefScreenSize1366 {
		top: 60px;
	}

	@include qodefScreenSize1024 {
		top: 80px;
	}

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		
		li {
			position: relative;
			margin: 0;
			padding: 0;
			
			&.qodef--hide-link {
				
				> a {
					cursor: default;
				}
			}
		}
		
		&.sub-menu {
			display: none;
		}
	}
	
	.qodef-menu-item-icon {
		margin-right: 5px;
	}
	
	.qodef-mega-menu-widget-holder {
		display: none;
	}
	
	> ul {
		
		> li {
			opacity: 0;
			visibility: hidden;
			transform: translateY(30px);
			transition: all 1s cubic-bezier(.475,.425,0,.995);
			
			> a {
				@include qodefMenuLevelOneInitialStyle(h1, $heading-color);
				@include qodefMenuLevelTwoInitialStyle();
				font-size: 50px;
				line-height: 70px;
				letter-spacing: -0.025em;
				transition: padding .2s ease-out .1s;
				overflow: visible;

				@include qodefScreenSize680 {
					font-size: 45px;
					line-height: 55px;
				}
				
				&:hover {
					@include qodefMenuLevelOneHoverStyle($heading-color);
				}
				
				&:before {
					height: 9px;
					width: 9px;
					left: 0;
					background-color: $main-color;
					opacity: 0;
					animation: qodef-dot-drop .2s forwards ease;
				}

				&:hover {
					padding-left: 12px;
					transition: padding .2s ease-out 0s;

					&:before {
						animation: qode-dot-bounce-large .3s forwards linear .1s;
					}
				}
			}
			
			&.current-menu-ancestor,
			&.current-menu-item {
				
				> a {
					@include qodefMenuLevelOneHoverStyle($heading-color);
					@include qodefMenuLevelTwoHoverStyle(left);
					padding-left: 12px;

					&:before {
						opacity: 1;
						animation: none;
					}

					&:hover {

						&:before {
							animation: none;
						}
					}
				}
			}
		}
	}
	
	.qodef-drop-down-second-inner {
		
		> ul {
			padding: $menu-top-bottom-spacing;
		}
		
		ul {
			padding-left: $menu-level-two-left-spacing;
			
			li {
				
				> a {
					@include qodefMenuLevelTwoInitialStyle();
					@include qodefMenuLevelTwoInitialTypographyStyle($heading-color);
					font-family: $heading-font;
					font-weight: 500;
					font-style: italic;
					line-height: 32px;
					font-size: 18px;
					
					&:hover {
						@include qodefMenuLevelTwoHoverStyle();
					}
				}
				
				&.current-menu-ancestor,
				&.current-menu-item {
					
					> a {
						@include qodefMenuLevelTwoHoverStyle();
					}
				}
			}
		}
	}
}