/* ==========================================================================
   Stacked Images style - begin
   ========================================================================== */

.qodef-stacked-images {
	@include qodefRelativeLayout();
	
	.qodef-m-images {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		opacity: 0;
		transition: all .7s cubic-bezier(0.23, 1, 0.32, 1);
		
		.qodef-e-image {
			
			&.qodef--stack {
				position: absolute;
				display: block;
				bottom: -100%;
				transition: all .7s cubic-bezier(0.23, 1, 0.32, 1);
			}
		}
		
		@at-root .qodef-stack--left-top#{&} {
			margin: 0 0 0 30%;

			@include qodefScreenSize1024 {
				margin: 0 0 0 15%;
			}

			@include qodefScreenSize680 {
				margin: 0;
			}
		}
		
		@at-root .qodef-stack--left-bottom#{&} {
			margin: 0 0 0 30%;

			@include qodefScreenSize1024 {
				margin: 0 0 0 15%;
			}

			@include qodefScreenSize680 {
				margin: 0;
			}
		}

		@at-root .qodef-stack--right-top#{&} {
			margin: 0 30% 0 0;

			@include qodefScreenSize1024 {
				margin: 0 15% 0 0;
			}

			@include qodefScreenSize680 {
				margin: 0;
			}
		}
		
		@at-root .qodef-stack--right-bottom#{&} {
			margin: 0 30% 0 0;

			@include qodefScreenSize1024 {
				margin: 0 15% 0 0;
			}

			@include qodefScreenSize680 {
				margin: 0;
			}
		}

		@at-root .qodef-stack--bottom#{&} {
			padding: 0 0 75px;
		}
		
		&.qodef--appeared {
			opacity: 1;

			.qodef-e-image {

				&.qodef--stack {

					@at-root .qodef-stack--left-top#{&} {
						bottom: 70px;
						left: 0;
						transform: translate(-50%, 0);

						@include qodefScreenSize680 {
							bottom: 20px;
						    transform: translate(-25%, 0) scale(.7);
						}
					}

					@at-root .qodef-stack--left-bottom#{&} {
						bottom: -20px;
						left: 0;
						transform: translate(-50%, 0);

						@include qodefScreenSize680 {
							bottom: -70px;
						    transform: translate(-25%, 0) scale(.7);
						}
					}

					@at-root .qodef-stack--right-top#{&} {
						bottom: 70px;
						right: 0;
						transform: translate(50%, 0);

						@include qodefScreenSize680 {
							bottom: 20px;
						    transform: translate(25%, 0) scale(.7);
						}
					}

					@at-root .qodef-stack--right-bottom#{&} {
						bottom: -20px;
						right: 0;
						transform: translate(50%, 0);

						@include qodefScreenSize680 {
							bottom: -70px;
						    transform: translate(25%, 0) scale(.7);
						}
					}

					@at-root .qodef-stack--bottom#{&} {
						bottom: 0;
						right: 15%;
						max-width: 40%;

						@include qodefScreenSize680 {
							bottom: -20px;
						    transform: scale(.7);
						}

						@include qodefScreenSize320 {
							bottom: 0;
						}
					}
				}
			}
		}
	}
}

/* ==========================================================================
   Stacked Images style - end
   ========================================================================== */