/* ==========================================================================
   Banner shortcode styles
   ========================================================================== */

.qodef-banner {
	@include qodefRelativeLayout();
	
	.qodef-m-banner-link {
		@include qodefAbsoluteLayout();
		display: block;
		z-index: 1;
	}
	
	.qodef-m-content {
		@include qodefAbsoluteLayout();
		display: block;
	}
	
	.qodef-m-content-inner {
		@include qodefAbsoluteLayout();
		display: flex;
	}

	.qodef-m-subtitle {
		margin: 0 0 5px;
	}

	.qodef-m-title {
		margin: 0;
	}

	.qodef-m-title-inner {
		display: inline-block;
	}

	.qodef-m-text {
		margin: 8px 0 0;
	}

	.qodef-m-image {
		@include qodefRelativeLayout();
		overflow: hidden;

		img {
			display: block;
			transition: all .35s ease-out;
		}
	}
}