/* ==========================================================================
   Social Share widget styles
   ========================================================================== */

$wp-widgets-area-map: (
	'#qodef-page-sidebar': (
		text-color: null
	),
	'.qodef-footer-skin--light #qodef-page-footer': (
		text-color: #a8a8a8
	),
	'#qodef-side-area': (
		text-color: #9e9e9e
	)
);
.qodef-social-share {
	
	.widget & {
		
		&.qodef-layout--list {
			
			.qodef-social-title {
				display: block;
				margin-bottom: 10px;
				text-transform: capitalize;
				@include qodefH7Style();
			}
		}
		
		&.qodef-layout--text {
			
			.qodef-social-title {
				display: block;
				margin-bottom: 21px;
			}
		}
	}
	
	@each $key, $values in $wp-widgets-area-map {
		#{$key} .widget & {
			&.qodef-layout--dropdown {
				.qodef-social-title {
					color: map-get($values, 'text-color');
				}
			}
			&.qodef-layout--list {
				.qodef-social-title {
					color: map-get($values, 'text-color');
				}
				li {
					&.qodef-facebook-share a:hover {
						color: $main-color;
					}
					
					&.qodef-twitter-share a:hover {
						color: $main-color;
					}
					
					&.qodef-linkedin-share a:hover {
						color: $main-color;
					}
					
					&.qodef-tumblr-share a:hover {
						color: $main-color;
					}
					
					&.qodef-pinterest-share a:hover {
						color: $main-color;
					}
					
					&.qodef-vk-share a:hover {
						color: $main-color;
					}
				}
			}
			&.qodef-layout--text {
				.qodef-social-title {
					color: map-get($values, 'text-color');
				}
				li {
					&.qodef-facebook-share a:hover {
						color: #3b5998;
					}
					
					&.qodef-twitter-share a:hover {
						color: #00aced;
					}
					
					&.qodef-linkedin-share a:hover {
						color: #007bb5;
					}
					
					&.qodef-tumblr-share a:hover {
						color: #32506d;
					}
					
					&.qodef-pinterest-share a:hover {
						color: #cb2027;
					}
					
					&.qodef-vk-share a:hover {
						color: #45668e;
					}
				}
			}
		}
	}
}

#qodef-top-area {

	.widget {

		.qodef-social-share {

			&.qodef-layout--list {

				li {

					a {
						width: 23px;
						height: 23px;
						font-size: 7px;
						line-height: 23px;
					}
				}
			}
		}
	}
}

.qodef-footer-skin--light #qodef-page-footer {

	.widget {

		.qodef-social-share {

			&.qodef-layout--list {

				li {

					a {
						color: $additional-background-color;

						&:hover {
							color: $main-color;
						}
					}
				}
			}
		}
	}
}

/* ==========================================================================
   Social Share widget styles
   ========================================================================== */