/* ==========================================================================
   Blog List Minimal styles
   ========================================================================== */

.qodef-blog {
	
	&.qodef-item-layout--minimal {
		
		article {
			
			.qodef-e-info {
				
				&.qodef-info--bottom {
					margin: 0 0 -5px 0;
				}
			}
		}
	}
}