.qodef-countdown.qodef-layout--simple {

	.qodef-digit-wrapper {
		display: inline-block;
		vertical-align: top;
		padding: 0 20px;
	}

	.qodef-digit {
		font-family: $heading-font;
		font-size: 100px;
		font-weight: 700;
		line-height: 1;
		color: #e1e1e1;

		@include qodefScreenSize480 {
			font-size: 75px;
		}

		@include qodefScreenSize320 {
			font-size: 50px;
		}
	}

	.qodef-label {
		margin: 25px 0 0;
		font-size: 11px;
		font-weight: 500;
		text-transform: uppercase;
		letter-spacing: .1em;
		color: $custom-text3-color;
	}
}