/* ==========================================================================
   Call to Action shortcode responsive styles
   ========================================================================== */

.qodef-call-to-action {
	
	&.qodef-layout--standard {

		@include qodefScreenSize1024 {

			.qodef-m-content {

				br {
					display: none;
				}
			}
		}

		@include qodefScreenSize680 {
			.qodef-m-inner {
				display: block;
			}
			.qodef-m-button {
				margin-top: 20px;
			}
		}
	}
}