/* ==========================================================================
   #Back to Top styles - start
   ========================================================================== */

#qodef-back-to-top {
	position: fixed;
	width: 73px;
	height: 73px;
	right: 51px;
	bottom: 39px;
	margin: 0;
	opacity: 0;
	visibility: hidden;
	background-color: $heading-color;
	border-radius: 100%;
	overflow: visible;
	z-index: 1000;
	
	@include qodefScreenSize480 {
		right: 36px;
	}
	
	.qodef-back-to-top-text {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		font-family: $heading-font;
		font-size: 22px;
		line-height: 25px;
		font-weight: 600;
		color: #fff;
		overflow: hidden;
		z-index: 2;
		
		* {
			display: block;
			line-height: inherit;
		}
	}

	&:after {
		content: '';
		position: absolute;
		top: -1px;
		left: -1px;
		width: calc(100% + 2px);
		height: calc(100% + 2px);
		background-color: $main-color;
		border-radius: 100%;
		z-index: 1;
		opacity: 0;
		visibility: hidden;
		clip-path: circle(25% at 75% 25%);
		-webkit-clip-path: circle(25% at 75% 25%);
		transition: clip-path .4s cubic-bezier(.61, .04, 0, .98), opacity .2s ease .2s, visibility .2s ease .2s;
	}
	
	&:hover {

		&:after {
			clip-path: circle(90% at 75% 25%);
			-webkit-clip-path: circle(90% at 75% 25%);
			background-color: $main-color;
			opacity: 1;
			visibility: visible;
			transition: clip-path .4s cubic-bezier(.61, .04, 0, .98), opacity 0s ease, visibility 0s ease;
		}
	}
	
	&.qodef--off {
		opacity: 0;
		visibility: hidden;
		transition: opacity 0.15s ease, visibility .0s .15s;
	}
	
	&.qodef--on {
		opacity: 1;
		visibility: visible;
		transition: opacity 0.3s ease;
	}
}

/* ==========================================================================
   #Back to Top styles - end
   ========================================================================== */