/* ==========================================================================
   Portfolio List shortcode variation hover styles
   ========================================================================== */

.qodef-item-layout--info-on-hover.qodef-hover-animation--fade-in {
	
	.qodef-e-content {
		transform: translateY(-100%);
		transition: transform .6s cubic-bezier(.475,.425,0,.995);
	}

	.qodef-e-info-category,
	.qodef-e-title {
		opacity: 0;
		visibility: hidden;
		transform: translateY(10px);
		transition: all .6s ease;
	}

	.qodef-e-info-category {
		transform: translateY(20px);
		transition-delay: .25s;
	}

	.qodef-e-title {
		transition-delay: .4s;
	}
	
	.qodef-e:hover {
		
		.qodef-e-content {
			transform: translateY(0);
		}

		.qodef-e-info-category,
		.qodef-e-title {
			opacity: 1;
			visibility: visible;
			transform: translateY(0);
		}
	}
}
