/* ==========================================================================
   Typography variables
   ========================================================================== */
/* ==========================================================================
   Box variables
   ========================================================================== */
/* ==========================================================================
   Devices screen size variables
   ========================================================================== */
/* ==========================================================================
   Grid size and responsive grid size variables
   ========================================================================== */
/* ==========================================================================
   Typography mixins
   ========================================================================== */
/* ==========================================================================
   Typography mixins - end
   ========================================================================== */
/* ==========================================================================
   Menu mixins - begin
   ========================================================================== */
/* ==========================================================================
   Menu mixins - end
   ========================================================================== */
/* ==========================================================================
   Layout mixins - begin
   ========================================================================== */
/* ==========================================================================
   Layout mixins - end
   ========================================================================== */
/* ==========================================================================
   Input fields mixins - begin
   ========================================================================== */
/* ==========================================================================
   Input fields mixins - end
   ========================================================================== */
/* ==========================================================================
   Pagination mixins - begin
   ========================================================================== */
/* ==========================================================================
   Pagination mixins - end
   ========================================================================== */
/* ==========================================================================
   Grid size mixins - begin
   ========================================================================== */
/* ==========================================================================
   Grid size mixins - end
   ========================================================================== */
/* ==========================================================================
   Helper mixins - begin
   ========================================================================== */
/* ==========================================================================
   Helper mixins - end
   ========================================================================== */
/* ==========================================================================
   Clear fix mixin - begin
   ========================================================================== */
/* ==========================================================================
   Clear fix mixin - end
   ========================================================================== */
section.qodef-elementor-content-grid > .elementor-container {
  width: 1100px;
  margin: 0 auto;
}

section.qodef-elementor-content-grid.qodef-extended-grid:not(.qodef-extended-grid-reset--1024) > .elementor-container {
  width: 100% !important;
  max-width: 100% !important;
  margin: 0;
}

@media only screen and (min-width: 1025px) {
  section.qodef-elementor-content-grid.qodef-extended-grid.qodef-extended-grid-reset--1024 > .elementor-container {
    width: 100% !important;
    max-width: 100% !important;
    margin: 0;
  }
}

section.qodef-elementor-content-grid.qodef-extended-grid--right:not(.qodef-extended-grid-reset--1024) > .elementor-container {
  padding-left: calc((100% - 1100px) / 2);
}

@media only screen and (min-width: 1025px) {
  section.qodef-elementor-content-grid.qodef-extended-grid--right.qodef-extended-grid-reset--1024 > .elementor-container {
    padding-left: calc((100% - 1100px) / 2);
  }
}

section.qodef-elementor-content-grid.qodef-extended-grid--left:not(.qodef-extended-grid-reset--1024) > .elementor-container {
  padding-right: calc((100% - 1100px) / 2);
}

@media only screen and (min-width: 1025px) {
  section.qodef-elementor-content-grid.qodef-extended-grid--left.qodef-extended-grid-reset--1024 > .elementor-container {
    padding-right: calc((100% - 1100px) / 2);
  }
}

@media only screen and (min-width: 1441px) {
  .qodef-content-grid-1400 section.qodef-elementor-content-grid > .elementor-container {
    width: 1400px;
    max-width: 1400px;
  }
  .qodef-content-grid-1400 section.qodef-elementor-content-grid.qodef-extended-grid--right:not(.qodef-extended-grid-reset--1024) > .elementor-container {
    padding-left: calc((100% - 1400px) / 2);
  }
  .qodef-content-grid-1400 section.qodef-elementor-content-grid.qodef-extended-grid--right.qodef-extended-grid-reset--1024 > .elementor-container {
    padding-left: calc((100% - 1400px) / 2);
  }
  .qodef-content-grid-1400 section.qodef-elementor-content-grid.qodef-extended-grid--left:not(.qodef-extended-grid-reset--1024) > .elementor-container {
    padding-right: calc((100% - 1400px) / 2);
  }
  .qodef-content-grid-1400 section.qodef-elementor-content-grid.qodef-extended-grid--left.qodef-extended-grid-reset--1024 > .elementor-container {
    padding-right: calc((100% - 1400px) / 2);
  }
}

@media only screen and (min-width: 1441px) {
  .qodef-content-grid-1300 section.qodef-elementor-content-grid > .elementor-container {
    width: 1300px;
    max-width: 1300px;
  }
  .qodef-content-grid-1300 section.qodef-elementor-content-grid.qodef-extended-grid--right:not(.qodef-extended-grid-reset--1024) > .elementor-container {
    padding-left: calc((100% - 1300px) / 2);
  }
  .qodef-content-grid-1300 section.qodef-elementor-content-grid.qodef-extended-grid--right.qodef-extended-grid-reset--1024 > .elementor-container {
    padding-left: calc((100% - 1300px) / 2);
  }
  .qodef-content-grid-1300 section.qodef-elementor-content-grid.qodef-extended-grid--left:not(.qodef-extended-grid-reset--1024) > .elementor-container {
    padding-right: calc((100% - 1300px) / 2);
  }
  .qodef-content-grid-1300 section.qodef-elementor-content-grid.qodef-extended-grid--left.qodef-extended-grid-reset--1024 > .elementor-container {
    padding-right: calc((100% - 1300px) / 2);
  }
}

@media only screen and (min-width: 1441px) {
  .qodef-content-grid-1200 section.qodef-elementor-content-grid > .elementor-container {
    width: 1200px;
    max-width: 1200px;
  }
  .qodef-content-grid-1200 section.qodef-elementor-content-grid.qodef-extended-grid--right:not(.qodef-extended-grid-reset--1024) > .elementor-container {
    padding-left: calc((100% - 1200px) / 2);
  }
  .qodef-content-grid-1200 section.qodef-elementor-content-grid.qodef-extended-grid--right.qodef-extended-grid-reset--1024 > .elementor-container {
    padding-left: calc((100% - 1200px) / 2);
  }
  .qodef-content-grid-1200 section.qodef-elementor-content-grid.qodef-extended-grid--left:not(.qodef-extended-grid-reset--1024) > .elementor-container {
    padding-right: calc((100% - 1200px) / 2);
  }
  .qodef-content-grid-1200 section.qodef-elementor-content-grid.qodef-extended-grid--left.qodef-extended-grid-reset--1024 > .elementor-container {
    padding-right: calc((100% - 1200px) / 2);
  }
}

@media only screen and (min-width: 1025px) {
  .qodef-content-grid-1000 section.qodef-elementor-content-grid > .elementor-container {
    width: 1000px;
    max-width: 1000px;
  }
  .qodef-content-grid-1000 section.qodef-elementor-content-grid.qodef-extended-grid--right:not(.qodef-extended-grid-reset--1024) > .elementor-container {
    padding-left: calc((100% - 1000px) / 2);
  }
  .qodef-content-grid-1000 section.qodef-elementor-content-grid.qodef-extended-grid--right.qodef-extended-grid-reset--1024 > .elementor-container {
    padding-left: calc((100% - 1000px) / 2);
  }
  .qodef-content-grid-1000 section.qodef-elementor-content-grid.qodef-extended-grid--left:not(.qodef-extended-grid-reset--1024) > .elementor-container {
    padding-right: calc((100% - 1000px) / 2);
  }
  .qodef-content-grid-1000 section.qodef-elementor-content-grid.qodef-extended-grid--left.qodef-extended-grid-reset--1024 > .elementor-container {
    padding-right: calc((100% - 1000px) / 2);
  }
}

@media only screen and (min-width: 769px) {
  .qodef-content-grid-800 section.qodef-elementor-content-grid > .elementor-container {
    width: 800px;
    max-width: 800px;
  }
  .qodef-content-grid-800 section.qodef-elementor-content-grid.qodef-extended-grid--right:not(.qodef-extended-grid-reset--1024) > .elementor-container {
    padding-left: calc((100% - 800px) / 2);
  }
  .qodef-content-grid-800 section.qodef-elementor-content-grid.qodef-extended-grid--right.qodef-extended-grid-reset--1024 > .elementor-container {
    padding-left: 0;
  }
  .qodef-content-grid-800 section.qodef-elementor-content-grid.qodef-extended-grid--left:not(.qodef-extended-grid-reset--1024) > .elementor-container {
    padding-right: calc((100% - 800px) / 2);
  }
  .qodef-content-grid-800 section.qodef-elementor-content-grid.qodef-extended-grid--left.qodef-extended-grid-reset--1024 > .elementor-container {
    padding-right: 0;
  }
}

@media only screen and (max-width: 1200px) {
  section.qodef-elementor-content-grid > .elementor-container {
    width: 960px;
  }
  section.qodef-elementor-content-grid.qodef-extended-grid--right:not(.qodef-extended-grid-reset--1024) > .elementor-container {
    padding-left: calc((100% - 960px) / 2);
  }
  section.qodef-elementor-content-grid.qodef-extended-grid--right.qodef-extended-grid-reset--1024 > .elementor-container {
    padding-left: calc((100% - 960px) / 2);
  }
  section.qodef-elementor-content-grid.qodef-extended-grid--left:not(.qodef-extended-grid-reset--1024) > .elementor-container {
    padding-right: calc((100% - 960px) / 2);
  }
  section.qodef-elementor-content-grid.qodef-extended-grid--left.qodef-extended-grid-reset--1024 > .elementor-container {
    padding-right: calc((100% - 960px) / 2);
  }
}

@media only screen and (max-width: 1024px) {
  section.qodef-elementor-content-grid > .elementor-container {
    width: 768px;
  }
  section.qodef-elementor-content-grid.qodef-extended-grid--right:not(.qodef-extended-grid-reset--1024) > .elementor-container {
    padding-left: calc((100% - 768px) / 2);
  }
  section.qodef-elementor-content-grid.qodef-extended-grid--right.qodef-extended-grid-reset--1024 > .elementor-container {
    padding-left: 0;
  }
  section.qodef-elementor-content-grid.qodef-extended-grid--left:not(.qodef-extended-grid-reset--1024) > .elementor-container {
    padding-right: calc((100% - 768px) / 2);
  }
  section.qodef-elementor-content-grid.qodef-extended-grid--left.qodef-extended-grid-reset--1024 > .elementor-container {
    padding-right: 0;
  }
}

@media only screen and (max-width: 800px) {
  section.qodef-elementor-content-grid > .elementor-container {
    width: 86%;
  }
  section.qodef-elementor-content-grid.qodef-extended-grid--right:not(.qodef-extended-grid-reset--1024) > .elementor-container {
    padding-left: calc((100% - 86%) / 2);
  }
  section.qodef-elementor-content-grid.qodef-extended-grid--right.qodef-extended-grid-reset--1024 > .elementor-container {
    padding-left: 0;
  }
  section.qodef-elementor-content-grid.qodef-extended-grid--left:not(.qodef-extended-grid-reset--1024) > .elementor-container {
    padding-right: calc((100% - 86%) / 2);
  }
  section.qodef-elementor-content-grid.qodef-extended-grid--left.qodef-extended-grid-reset--1024 > .elementor-container {
    padding-right: 0;
  }
}

@media only screen and (max-width: 480px) {
  section.qodef-elementor-content-grid > .elementor-container {
    width: 82%;
  }
  section.qodef-elementor-content-grid.qodef-extended-grid--right:not(.qodef-extended-grid-reset--1024) > .elementor-container {
    padding-left: calc((100% - 82%) / 2);
  }
  section.qodef-elementor-content-grid.qodef-extended-grid--right.qodef-extended-grid-reset--1024 > .elementor-container {
    padding-left: 0;
  }
  section.qodef-elementor-content-grid.qodef-extended-grid--left:not(.qodef-extended-grid-reset--1024) > .elementor-container {
    padding-right: calc((100% - 82%) / 2);
  }
  section.qodef-elementor-content-grid.qodef-extended-grid--left.qodef-extended-grid-reset--1024 > .elementor-container {
    padding-right: 0;
  }
}
