/* ==========================================================================
   Portfolio Single variation styles
   ========================================================================== */

.qodef-portfolio-single {
    
    &.qodef-layout--images-big {

        .qodef-media {
            margin-top: 94px;
    
            .qodef-grid-item {
                display: block;
                margin-bottom: 20px;
                float: none;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            .qodef-popup-item {

                .qodef-image-wrapper {
                    overflow: hidden;
                }

                img {
                    transform: scale(1.05);
                    transition: all 1s cubic-bezier(.475,.425,0,.995);
                    will-change: transform;
                }

                &:hover {

                    img {
                        transform: scale(1.01);
                    }
                }
            }
        }
        
        .qodef-portfolio-info {
            margin-top: 14px;

            @include qodefScreenSize1024 {
                margin-top: 20px;
            }
        }
    }
}
