/* ==========================================================================
   Icon List Item shortcode styles
   ========================================================================== */

.qodef-icon-list-item {
	@include qodefRelativeLayout();
	line-height: 1;
	
	.qodef-e-title {
		position: relative;
		display: inline-block;
		vertical-align: top;
		margin: 0;

		a {
			display: block;
			color: inherit;

			&:hover {
				color: $main-color;
			}
		}
	}

	h1,
	h2,
	h3,
	h5,
	h6 {

		&.qodef-e-title {

			.qodef-special-style {
				font-weight: 300;
			}
		}
	}

	h4,
	p {

		&.qodef-e-title {

			.qodef-special-style {
				font-weight: 700;
			}
		}
	}
	
	.qodef-e-title-inner {
		display: flex;
		align-items: center;
	}
	
	.qodef-icon-holder {
		flex-shrink: 0;
		margin-right: 5px;
		float: none;
		
		.qodef-icon {
			font-size: 18px;
		}
	}
	
	&.qodef-icon--custom-icon {
		
		.qodef-e-icon-wrapper {
			position: relative;
			display: inline-block;
			vertical-align: top;
			
			a, img {
				display: block;
			}
		}
	}

	&.qodef-custom-layout--enabled {

		.qodef-e-title-inner {
			align-items: flex-start;
		}

		.qodef-icon-holder {
			position: relative;
			top: 3px;
			margin-right: 20px;
		}
	}

	&:not(.qodef-custom-layout--enabled) {

		.qodef-e-title {
			line-height: 1;
		}
	}
}