/* ==========================================================================
   WooCommerce DropDown Cart styles
   ========================================================================== */

$wp-widgets-area-map: (
	'#qodef-page-sidebar': (
		text-color: null,
		link-color: null,
		link-hover-color: null
	),
	'#qodef-top-area': (
		text-color: $text-color,
		link-color: $text-color,
		link-hover-color: $main-color,
	)
);

.widget_borgholm_core_woo_dropdown_cart {
	height: 100%;
}

.qodef-woo-dropdown-cart {
	position: relative;
	display: inline-block;
	vertical-align: top;
	height: 100%;
	padding: 0 10px;
	
	.qodef-m-inner {
		@include qodefRelativeLayout();
		height: 100%;
	}
	
	.qodef-m-opener {
		position: relative;
		display: flex;
		align-items: center;
		height: 100%;
		font-size: 14px;

		.qodef-m-opener-icon {
			position: relative;
			top: -2px;
		}

		.qodef-m-opener-count {
			position: relative;
			top: -2px;
			margin-left: 3px;
			font-family: $text-font;
			font-weight: 400;
			letter-spacing: -.02em;
		}
	}
	
	.qodef-m-dropdown {
		position: absolute;
		top: 100%;
		left: auto;
		right: 0;
		text-align: left;
		height: auto;
		max-height: 0;
		overflow: hidden;
		transition: max-height .3s ease-in-out;
	}
	
	.qodef-m-dropdown-inner {
		position: relative;
		display: inline-block;
		vertical-align: top;
		width: 309px;
		padding: 13px;
		background-color: #fff;
		border-top: 3px solid $main-color;
		box-shadow: $box-shadow-2;
	}
	
	.qodef-woo-dropdown-items {
		@include qodefRelativeLayout();

		@each $key, $values in $wp-widgets-area-map {
			
			#{$key} & {
				@if (map-get($values, 'text-color') != null) {
					color: map-get($values, 'text-color');
				}
				
				@if (map-get($values, 'link-color') != null) {
					a {
						color: map-get($values, 'link-color');
						
						@if (map-get($values, 'link-hover-color') != null) {
							&:hover {
								color: map-get($values, 'link-hover-color');
							}
						}
					}
				}
			}
		}
	}
	
	.qodef-woo-dropdown-item {
		position: relative;
		display: flex;
		align-items: center;
		margin-top: 8px;
		
		&:first-child {
			margin-top: 0;
		}
	}
	
	.qodef-e-image {
		flex-shrink: 0;
		width: 74px;
		margin-right: 11px;
		
		a, img {
			display: block;
		}
	}
	
	.qodef-e-content {
		@include qodefRelativeLayout();
		padding-right: 20px;
	}
	
	.qodef-e-title {
		margin: 0;
		font-weight: 700;
	}
	
	.qodef-e-price {
		margin: 0;
		font-family: $heading-font;
		font-size: 22px;
		font-weight: 700;
		line-height: 1;
		color: $main-color;
	}
	
	.qodef-e-quantity {
		margin: 0;
	}
	
	.qodef-e-remove {
		position: absolute;
		top: -4px;
		right: -3px;
		font-size: 16px;
		line-height: 1;
	}
	
	.qodef-m-order-details {
		position: relative;
		display: flex;
		align-items: baseline;
		justify-content: space-between;
		margin-top: 7px;
		
		> * {
			margin: 0;
		}

		.qodef-m-order-label {
			@include qodefCustomTextStyle();
		}

		.qodef-m-order-amount {
			font-family: $heading-font;
			font-size: 22px;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: .1em;
			color: $main-color;
		}

		@each $key, $values in $wp-widgets-area-map {
			
			#{$key} & {
				@if (map-get($values, 'text-color') != null) {
					color: map-get($values, 'text-color');
				}
			}
		}
	}
	
	.qodef-m-action {
		position: relative;
		width: 100%;
		display: flex;
		margin-top: 10px;
	}
	
	.qodef-m-action-link {
		@include qodefButtonDefaultStyle();
		@include qodefButtonSize(full-width);
	    padding: 12px 10px;
		font-size: 10px;

		&.qodef-cart {
			@include qodefButtonFilledColor();

			&:hover {
				@include qodefButtonFilledHoverColor();
			}
		}

		&.qodef-checkout {
			@include qodefButtonOutlinedColor();

			&:hover {
				@include qodefButtonOutlinedHoverColor();
			}
		}
	}

	.qodef-m-posts-not-found {
		padding: 0 16px;
	}

	.touchevents & {
		cursor: pointer;
	}
	
	&:hover {
		
		.qodef-m-dropdown {
			max-height: 100vh;
			transition: max-height .5s ease-in-out;
		}
	}
}