/* ==========================================================================
   Contact Form 7 widget styles
   ========================================================================== */

.qodef-contact-form-7 {
	@include qodefRelativeLayout();
	
	.ajax-loader {
		position: absolute;
		right: -10px;
	}
	
	&.qodef-newsletter {
		position: relative;
		
		input {
			margin: 0;
		}
		
		input[type="submit"],
		button {
			position: absolute;
			bottom: 0;
			right: 0;
			margin: 0;
			cursor: pointer;
		}
		
		button:not(.qodef-button) {
			display: flex;
			height: 100%;
			padding: 0;
			background: none;
			border: none;
		}
	}
	
	.wpcf7 {
		
		.qodef-subscribe-form {
			position: relative;
			
			.wpcf7-form-control-wrap {
				
				input {
					margin: 0;
					padding: 2px 0;
				}
			}
			
			.qodef-subscribe-icon {
				position: absolute;
				top: 50%;
				right: 0;
				padding: 10px 16px;
				transform: translateY(-50%);
				background-color: transparent;

				&:before,
				&:after {
					content: '';
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					display: inline-block;
				}

				&:before {
					content: "\45";
					font-family: "ElegantIcons";
					top: 50%;
					transform: translateY(-50%);
					transform-origin: left;
					will-change: transform;
					right: -7px;
					font-size: 11px;
					line-height: 1;
					color: $heading-color;
					transition: all .2s ease-in-out;
				}

				&:after {
					content: '';
					position: absolute;
					right: 0;
					width: 34px;
					height: 2px;
					background: $heading-color;
					transition: all .2s ease-in-out;
					transform-origin: left;
				}

				&:hover {

					&:before {
						right: -19px;
					}

					&:after {
						transform: translateY(-50%) scaleX(1.3);
					}
				}
			}
		}

		.qodef-contact-form {

			button.qodef-button {
				@include qodefButtonArrowStyle();

				&:after {
					margin-left: 65px;
				}
			}
		}
		
		div {
			&.wpcf7-response-output,
			&.wpcf7-validation-errors,
			&.wpcf7-acceptance-missing,
			&.wpcf7-spam-blocked,
			&.wpcf7-aborted,
			&.wpcf7-mail-sent-ok,
			&.wpcf7-mail-sent-ng {
				border: 2px solid $main-color;
				margin: 0;
			}
		}
	}
}

