/* ==========================================================================
   Portfolio List shortcode styles
   ========================================================================== */

.qodef-portfolio-list {

	&.qodef-swiper-container {

		&:hover {
			cursor: url(../img/drag-cursor.svg), auto;
		}
	}
	
	.qodef-e-inner {
		position: relative;
	}
	
	.qodef-e-image {
		
		img {
			display: block;
		}
	}
	
	.qodef-e-title {
		margin: 0;
	}

	.qodef-e-custom-decoration {

		svg {
			display: block;
		}
	}

	.qodef-e-info-category {

		.qodef-e-category {
			@include qodefCustomTitleStyle($custom-text3-color, 11px, 500);

			&:hover {
				color: $main-color;
			}

			&:after {
				content: '/';
				color: $custom-text3-color;
			}

			&:last-child {

				&:after {
					content: '';
				}
			}
		}
	}

	.qodef-m-pagination {
		margin-top: 35px;
	}
	
	&.qodef-items--fixed {
		
		.qodef-e-image {
			//because of the custom padding around item
			height: 100%;
			overflow: hidden;
		}
		
		.qodef-e-media-image {
			height: 100%;
			
			a {
				@include qodefRelativeLayout();
				height: 100%;
			}
		}
	}

	@include qodefScreenSize680 {

		&.qodef-custom-padding--disabled {

			.qodef-e-inner {
				padding: 0 !important;
			}
		}
	}
}
