/* ==========================================================================
   Countdown shortcode styles
   ========================================================================== */

.qodef-countdown {

	.qodef-m-date {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
	}

	.qodef-digit,
	.qodef-label {
		@include qodefRelativeLayout();
		text-align: center;
	}
	
	$columns_label: ('qodef-show--1', 'qodef-show--2', 'qodef-show--3', 'qodef-show--4', 'qodef-show--5', 'qodef-show--6');
	@for $i from 0 to length($columns_label) {
		&.#{nth($columns_label, $i+1)} {
			$column_width: 100% / ($i+1);
			
			.qodef-digit-wrapper {
				width: $column_width;
			}
		}
	}

	&.qodef-countdown--light {
		.qodef-digit,
		.qodef-label {
			color: #fff;
		}
	}

}