/* ==========================================================================
# Search covers header - start
========================================================================== */

@keyframes cover_search_fade_out {
	0% {
		opacity: 1;
		visibility: visible;
		z-index: 100;
	}
	100% {
		opacity: 0;
		visibility: hidden;
		z-index: 0;
	}
}

@keyframes cover_search_fade_in {
	0% {
		opacity: 0;
		visibility: hidden;
		z-index: 100;
	}
	100% {
		opacity: 1;
		visibility: visible;
		z-index: 100;
	}
}

.qodef-search-cover-form {
	@include qodefAbsoluteLayout();
	visibility: hidden;
	opacity: 0;
	background-color: #fff;
	z-index: -1;
	transition: opacity 0.3s ease;
	
	.qodef-m-inner {
		display: flex;
		height: 100%;
		width: 100%;
		align-items: center;
		justify-content: space-between;
		padding: 0 41px 0 46px;
	}
	
	.qodef-m-form-field {
		padding: 0;
		margin-bottom: 0;
		font-family: $heading-font;
		font-size: 18px;
		font-weight: 500;
		color: $heading-color;
		letter-spacing: -0.025em;
		background-color: transparent;
		border: 0;
		border-radius: 0;
		outline-offset: 0;
		
		&:focus {
			color: $heading-color;
		}
		
		@include qodefPlaceholder {
			color: inherit;
		}
	}
	
	.qodef-additional-icon-search {
		font-size: 20px;
		padding-right: 34px;
		padding-top: 6px;
	}
	
	.qodef-m-close {
		flex-shrink: 0;
		
		&.qodef-source--icon-pack {
			font-size: 25px;
		}
	}
	
	.qodef-covers-search--fadeout & {
		animation: cover_search_fade_out .3s ease both;
	}
	
	.qodef-covers-search--fadein & {
		animation: cover_search_fade_in .3s ease both;
	}
	
	.qodef-header--sticky-display #qodef-page-header > & {
		display: none;
	}
}

/* ==========================================================================
# Search covers header - end
========================================================================== */