/* ==========================================================================
   Opener icon styles
   ========================================================================== */

.qodef-opener-icon {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	line-height: 1;
	
	.qodef-m-icon {
		position: relative;
		visibility: visible;
		
		&.qodef--close {
			position: absolute;
			top: 0;
			left: 0;
			visibility: hidden;
		}
	}
	
	&.qodef-source--icon-pack {
		font-size: 35px;
		
		* {
			display: inline-block;
			line-height: inherit;
			
			&:before {
				display: inline-block;
				line-height: inherit;
			}
		}
	}
	
	&.qodef-source--svg-path {
		
		span {
			position: relative;
			
			> * {
				vertical-align: middle;
			}
			
			> *,
			path {
				fill: currentColor;
				stroke: currentColor;
			}
		}
	}
	
	&.qodef-source--predefined {
		
		.qodef-m-lines {
			position: relative;
			display: block;
			width: 22px;
			height: 28px;

			.qodef-header-sticky & {
				height: 24px;
			}
		}
		
		.qodef-m-line {
			position: absolute;
			left: 0;
			height: 2px;
			width: 100%;
			background-color: currentColor;
			transition: top .3s ease, transform .3s ease;
			
			&.qodef--1 {
				top: 8px;
				transition: width .4s ease;
			}
			
			&.qodef--2 {
				top: 14px;
				width: 16px;
				transition: width .4s ease;
			}
		}

		.qodef-m-icon {

			&.qodef--close {

				.qodef-m-lines {
					transform: rotate(0deg);
					transform-origin: center;
					transition: transform 1s cubic-bezier(.475,.425,0,.995);

					.qodef--1 {
						width: 100%;
						top: 13px;
						transition: none;
						transform: rotate(45deg) scaleX(1);
					}

					.qodef--2 {
						width: 100%;
						top: 13px;
						left: 0;
						transform: rotate(-45deg) scaleX(1);
					}
				}
			}
		}
		
		&:hover {
			color: $heading-color;

			.qodef-m-icon {
				
				.qodef-m-lines {

					.qodef--1 {
						width: 16px;
					}
					
					.qodef--2 {
						width: 22px;
					}
				}

				&.qodef--close {

					.qodef-m-lines {
						transform: rotate(180deg);

						.qodef--1 {
							width: 100%;
							top: 13px;
							transition: none;
							transform: rotate(45deg) scaleX(1);
						}

						.qodef--2 {
							width: 100%;
							top: 13px;
							left: 0;
							transform: rotate(-45deg) scaleX(1);
						}
					}
				}
			}
		}
	}
	
	.qodef-header--light:not(.qodef-fullscreen-menu--opened) & {

		&:not(.qodef-mobile-header-opener):not(.qodef-fullscreen-menu-opener):not(#qodef-side-area-close) {

			&.qodef-source--icon-pack,
			&.qodef-source--svg-path,
			&.qodef-source--predefined {
				color: #fff !important;
			}
		}
	}
	
	.qodef-header--dark:not(.qodef-fullscreen-menu--opened) & {

		&:not(.qodef-mobile-header-opener):not(.qodef-fullscreen-menu-opener):not(#qodef-side-area-close) {

			&.qodef-source--icon-pack,
			&.qodef-source--svg-path,
			&.qodef-source--predefined {
				color: #000 !important;
			}
		}
	}
}