/* ==========================================================================
   Icon With Text shortcode styles
   ========================================================================== */

.qodef-icon-with-text {
	
	.qodef-m-title {
		margin: 0;
		
		a {
			display: block;
		}
	}
	
	.qodef-m-text {
		margin: 11px 0 0;
	}
	
	.qodef-m-icon-wrapper {
		line-height: 1;
	}
	
	.qodef-icon-holder {
		float: none;
	}
	
	.qodef-m-content {
		@include qodefRelativeLayout();
	}
	
	&.qodef--custom-icon {
		
		.qodef-m-icon-wrapper {
			position: relative;
			display: inline-block;
			vertical-align: top;
			
			a, img {
				display: block;
			}
		}
	}
	
	&.qodef--has-appear {

		.qodef-m-icon-wrapper,
		.qodef-m-content {
			overflow: hidden;
			opacity: 0;
			visibility: hidden;
			transform: translateY(10px);
			transition: all 1s cubic-bezier(.475,.425,0,.995);

			.elementor-editor-active & {
				opacity: 1;
				visibility: visible;
				transform: translateY(0);
			}
		}

		.qodef-m-content {
			transition-delay: .3s;
		}
		
		svg {
			circle {
				stroke-dasharray: 550;
				stroke-dashoffset: 550;
				transition: 1s ease-in-out .2s;
			}
			
			line,
			path {
				
				&:not(.has-stroke-dash) {
					stroke-dasharray: 350;
					stroke-dashoffset: 350;
				}
				
				&.has-stroke-dash {
					opacity: 0;
				}
				
				transition: 1.5s ease-in-out .5s;
			}
		}
		
		&.qodef--appear {

			.qodef-m-icon-wrapper,
			.qodef-m-content {
				opacity: 1;
				visibility: visible;
				transform: translateY(0);
			}
			
			svg {
				circle,
				line,
				path {
					&:not(.has-stroke-dash) {
						stroke-dashoffset: 0;
					}
					
					&.has-stroke-dash {
						opacity: 1;
					}
				}
			}
		}
	}
}