/* ==========================================================================
   Portfolio Single variation styles
   ========================================================================== */

.qodef-portfolio-single-slider {
	
	.swiper-slide {
		width: auto;
	}
	
	&.swiper-container-horizontal {
		
		> .swiper-pagination-bullets {
			display: none;
		}
	}
}

.qodef-portfolio-single {
	
	&.qodef-layout--slider {
		
		.qodef-portfolio-info {
			margin-top: 14px;

			@include qodefScreenSize1024 {
                margin-top: 20px;
            }
		}
	}
}
