/* ==========================================================================
   Testimonials list shortcode styles
   ========================================================================== */

.qodef-testimonials-list {

	&.qodef-swiper-container {

		.qodef-e-content {
			cursor: grab;
		}
	}
	
	.qodef-e-media-image {
		width: 77px;

		img {
			display: block;
			max-width: 100%;
			border-radius: 100%;
		}
	}
	
	.qodef-e-text {
		@include qodefHeadingStyle(h4);
	}

	.qodef-e-author {
		margin: 34px 0 0;

		.qodef-e-author-name {
			font-family: $heading-font;
			font-size: 20px;
			font-weight: 700;
			color: $heading-color;
		}

		.qodef-e-author-job {
			@include qodefCustomTitleStyle($heading-color, 11px, 500);
		}
	}

	@include qodefScreenSize1024 {

		.swiper-button-prev,
		.swiper-button-next {
			display: none;
		}
	}

	.swiper-pagination-bullets {
		position: relative !important;
	}

	&.qodef-skin--light {

		.qodef-e-title,
		.qodef-e-text,
		.qodef-e-author,
		.qodef-e-author-name,
		.qodef-e-author-job {
			color: #fff;
		}
	}
}