/* ==========================================================================
   Vertical Sliding Menu Opener styles
   ========================================================================== */

.qodef-opener-icon {
    
    &.qodef-vertical-sliding-menu-opener {
        position: static;
        display: block;
    
        .qodef-m-icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        
            &.qodef--close {
                top: 50%;
                left: 50%;
            }
        }
    
        &.qodef-source--predefined {
        
            .qodef-vertical-sliding-menu--opened & {

                .qodef-m-icon {

                    &.qodef--open {
                        visibility: hidden;
                    }

                    &.qodef--close {
                        visibility: visible;
                    }
                }
            
                .qodef-m-line {

                    .qodef--1 {
                        width: 100%;
                        top: 13px;
                        transition: none;
                        transform: rotate(45deg);
                    }

                    .qodef--2 {
                        width: 100%;
                        top: 13px;
                        left: 0;
                        transform: rotate(-45deg);
                    }
                }

                &:hover {

                    .qodef-m-icon {

                        .qodef-m-lines {

                            .qodef--1 {
                                width: 100%;
                                top: 13px;
                                transition: none;
                                transform: rotate(45deg);
                            }

                            .qodef--2 {
                                width: 100%;
                                top: 13px;
                                left: 0;
                                transform: rotate(-45deg);
                            }
                        }
                    }
                }
            }
        }
    }
}

.qodef-vertical-sliding-menu--opened {
    
    .qodef-vertical-sliding-menu-opener {
        
        &:not(.qodef-source--predefined) {
        
            .qodef-m-icon {
                visibility: hidden;
            
                &.qodef--close {
                    visibility: visible;
                }
            }
        }
        
        &:hover {
            color: $heading-color;
        }
    }

    #qodef-page-header .qodef-header-logo-link img {
        
        &.qodef--light {
            opacity: 1;
        }

        &.qodef--main,
        &.qodef--dark {
            opacity: 0;
        }
    }
}