/* ==========================================================================
   Vertical Sliding navigation style
   ========================================================================== */

$menu-top-bottom-spacing: 10px 0 0;
$menu-level-two-left-spacing: 12px;

.qodef-header--vertical-sliding {
    
    .qodef-header-vertical-sliding-navigation {
        align-items: center;
        display: flex;
        height: 100%;
        padding: 0 40px;
        width: 100%;
        z-index: 100;

        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                margin: 0;
                padding: 0;
                position: relative;

                .qodef-drop-down-second {
                    transform: translateZ(0);
                }

                .qodef-drop-down-second-inner {
                    display: block;
                    padding: 0;
                    position: relative;
                    z-index: 997;
                }

                &.qodef--hide-link {

                    > a {
                        cursor: default;
                    }
                }
            }
        }

        .qodef-menu-item-icon {
            margin-right: 5px;
        }

        .qodef-mega-menu-widget-holder {
            display: none;
        }
    
        > ul {
            
            > li {

                > a {
                    @include qodefMenuLevelTwoInitialStyle();
                    padding-right: 25px;
                    font-family: $heading-font;
                    font-size: 50px;
                    font-weight: 700;
                    line-height: 70px;
                    letter-spacing: -.025em;
                    color: $heading-color;
                    overflow: visible;
                    transition: padding .2s ease-out .1s;

                    &:before {
                        width: 9px;
                        height: 9px;
                        left: 0;
                        opacity: 0;
                        animation: qodef-dot-drop .2s forwards ease;
                    }
                
                    &:hover {
                        @include qodefMenuLevelTwoHoverStyle();
                        transition: padding .2s ease-out 0s;

                        &:before {
                            left: 0;
                            animation: qode-dot-bounce-large .3s forwards linear .1s;
                        }
                    }
                }
            
                .qodef-drop-down-second-inner {
                    
                    > ul {
                        padding: $menu-top-bottom-spacing;
                    }
                
                    ul {
                        padding-left: $menu-level-two-left-spacing;
                    
                        li {
                        
                            > a {
                                @include qodefMenuLevelTwoInitialStyle();
                                font-family: $heading-font;
                                font-size: 18px;
                                font-weight: 500;
                                font-style: italic;
                                line-height: 32px;
                                color: $heading-color;
                            }
                        
                            &:hover,
                            &.current-menu-ancestor,
                            &.current-menu-item {
                                > a {
                                    @include qodefMenuLevelTwoHoverStyle();
                                }
                            }
                        }
                    }
                }

                &.current-menu-ancestor,
                &.current-menu-item {
                    
                    > a {
                        @include qodefMenuLevelTwoHoverStyle();

                        &:before {
                            opacity: 1;
                            animation: none;
                        }

                        &:hover {

                            &:before {
                                animation: none;
                            }
                        }
                    }
                }
            }
        }

        &.qodef-vertical-sliding-drop-down--below {
            
            ul li {
                
                .qodef-drop-down-second {
                    display: none;
                }
            }
        }

        &.qodef-vertical-sliding-drop-down--side {
            
            .qodef-drop-down-second {
                position: absolute;
                top: 0;
                width: 100%;

                ul {
                    background-color: #fff;
                    left: calc(100% + 40px); //because of the padding right
                    margin-left: 50px;
                    opacity: 0;
                    padding: 25px 20px;
                    position: absolute;
                    top: -23px;
                    transition: all $transition-timing;
                    visibility: hidden;
                    width: 254px;

                    &.qodef-float--open {
                        margin-left: 0;
                        opacity: 1;
                        visibility: visible;
                        z-index: 900;
                    }

                    ul {
                        left: calc(100% + 20px); //because of the padding right
                        top: -25px; //because of the padding top
                        transition: all .2s ease;
                        visibility: hidden;
                    }
                }
            }
        }
    }
}