/* ==========================================================================
   Vertical Sliding layout styles
   ========================================================================== */

$vertical-sliding-header-width--open: 767px;
$vertical-sliding-header-width--initial: 103px;

$vertical-sliding-content-grid-width-responsive-map: (
        1400 : (
                responsive-break: (
                        $screen-size-1367: $screen-size-1680,
                        $screen-size-1281: $screen-size-1366,
                        $screen-size-1025: $screen-size-1280,
                ),
                content-grid-width: (
                        $content-grid-width-1100,
                        $content-grid-width-screen-size-1200,
                        $content-grid-width-screen-size-1024,
                )
        ),
        1300 : (
                responsive-break: (
                        $screen-size-1367: $screen-size-1680,
                        $screen-size-1281: $screen-size-1366,
                        $screen-size-1025: $screen-size-1280,
                ),
                content-grid-width: (
                        $content-grid-width-1100,
                        $content-grid-width-screen-size-1200,
                        $content-grid-width-screen-size-1024,
                )
        ),
        1200 : (
                responsive-break: (
                        $screen-size-1367: $screen-size-1440,
                        $screen-size-1281: $screen-size-1366,
                        $screen-size-1025: $screen-size-1280,
                ),
                content-grid-width: (
                        $content-grid-width-1100,
                        $content-grid-width-screen-size-1200,
                        $content-grid-width-screen-size-1024,
                )
        ),
        1100 : (
                responsive-break: (
                        $screen-size-1281: $screen-size-1366,
                        $screen-size-1025: $screen-size-1280,
                ),
                content-grid-width: (
                        $content-grid-width-screen-size-1200,
                        $content-grid-width-screen-size-1024,
                )
        )
);

.qodef-header--vertical-sliding {
    .qodef-content-grid {
        @each $key, $values in $vertical-sliding-content-grid-width-responsive-map {
            $index: 1;

            @each $responsive-key, $responsive-value in map-deep-get($vertical-sliding-content-grid-width-responsive-map, $key, 'responsive-break') {
                @media only screen and (min-width: $responsive-key) and (max-width: $responsive-value) {
                    @at-root .qodef-content-grid-#{$key}#{&} {
                        width: #{nth(map-deep-get($vertical-sliding-content-grid-width-responsive-map, $key, 'content-grid-width'), $index)}
                    }
                }

                $index: $index + 1;
            }
        }
    }

    #qodef-page-header {
        height: 100%;
        left: 0;
        position: fixed;
        top: 0;
        width: $vertical-sliding-header-width--initial;

        .qodef-header-logo-link {

            img {
                margin: auto auto;
            }
        }

        .qodef-vertical-sliding-widget-holder {

            .qodef-widget-holder {
                margin: 0;
            }
        }

        .qodef-vertical-sliding-area {

            &.qodef--static {

                .qodef-vertical-sliding-widget-holder {

                    .qodef-widget-holder {
                        flex-direction: column;
                    }

                    .widget {
                        margin: 0 0 17px;

                        &:last-child {
                            margin: 0;
                        }
                    }
                }
            }
        }
    }

    #qodef-page-header-inner {
        padding: 0;
    }

    .qodef-vertical-sliding-area {
        align-items: center;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        height: 100%;
        text-align: center;

        &.qodef--static {
            width: 100%;
            padding-top: 24px;
            padding-bottom: 24px;
            background-color: $background-color;

            .qodef-header-logo-link,
            .qodef-vertical-sliding-widget-holder {
                animation: qode-fade-in .25s $sliding-area-transition-time linear both;
            }
        }

        &.qodef--dynamic {
            width: $vertical-sliding-header-width--open;
            align-items: flex-start;
            position: fixed;
            top: 0;
            left: -#{ $vertical-sliding-header-width--initial + $vertical-sliding-header-width--open};
            padding-top: 24px;
            padding-bottom: 24px;
            padding-left: $vertical-sliding-header-width--initial;
            text-align: left;
            transition: $sliding-area-transition;
            visibility: hidden;
            background-color: #ffffff;
            z-index: -1;

            .qodef-header-logo-link,
            .qodef-vertical-sliding-widget-holder {
                padding: 0 40px;
            }

            .qodef-header-logo-link {
                img {

                    &.qodef--main {
                        position: relative !important; // override default logo style
                        opacity: 1 !important; // override default logo style
                    }
                }
            }
        }
    }

    #qodef-page-header.qodef-vertical-sliding-menu--opened {

        .qodef-vertical-sliding-area {

            &.qodef--static {
                border-right: none;

                .qodef-header-logo-link,
                .qodef-vertical-sliding-widget-holder {
                    animation: qode-fade-out .25s linear both;
                }
            }

            &.qodef--dynamic {
                left: 0;
                visibility: visible;
            }
        }
    }

    &.admin-bar {
        #qodef-page-header,
        .qodef--dynamic {
            height: calc(100% - 32px);
            top: 32px;
        }
    }

    #qodef-page-outer,
    #qodef-page-footer {
        padding-left: $vertical-sliding-header-width--initial;
    }
}