.qodef-button {
	
	&.qodef-layout--outlined {
		@include qodefButtonOutlinedColor();
		
		&:hover {
			@include qodefButtonOutlinedHoverColor();
		}
		
		@include qodefButtonArrowStyle(outlined);
	}
}