/* ==========================================================================
   Awards List shortcode styles
   ========================================================================== */

.qodef-awards-list {
	
	.qodef-m-items {
		position: relative;
	}
	
	.qodef-m-item {
		position: relative;
		display: flex;
		width: 100%;
		padding: 0 0 26px;
		
		.qodef-e-year {
			position: relative;
			display: inline-block;
			padding-right: 29px;
			
			.qodef-e-item-year {
				@include qodefH7Style(13px);
				color: #a4a4a4;
			}
		}
		
		.qodef-e-awards {
			position: relative;
			display: inline-block;
			
			.qodef-e-item-awards {
				display: block;
				@include qodefHeadingStyle(h3);
			}
			
			.qodef-e-item-description {
				display: block;
				@include qodefHeadingStyle(h5);
				font-weight: 500;
				font-style: italic;
				padding-top: 9px;
			}
		}
	}
	
	&.qodef-skin--light {
		
		.qodef-m-item {
			
			.qodef-e-item-year,
			.qodef-e-item-awards,
			.qodef-e-item-description {
				color: $background-color;
			}
		}
	}
}