.qodef-banner {
	
	&.qodef-layout--link-button {
		
		.qodef-m-content-inner {
			align-items: flex-start;
			flex-direction: column;
			justify-content: flex-end;
			padding: 35px;
		}

		.qodef-m-button {
			margin: 16px 0 0;

			.qodef-m-text {
				margin: 0;
			}
		}
	}
}