/* ==========================================================================
   Portfolio Single styles
   ========================================================================== */

.qodef-portfolio-single {
	
	.qodef-media {
		
		iframe {
			max-height: calc(56.25vw);
		}
	}
 
	.qodef-portfolio-title {
		margin: 0 0 15px;
	}

	.qodef-portfolio-content-wrapper {
		padding-right: 35px;

		@include qodefScreenSize1024 {
			padding-right: 0;
		}
	}

	.qodef-portfolio-info {
  
		> * {
			display: flex;
			align-items: flex-start;
			margin-bottom: 24px;
			flex-direction: column;

			&:not(.qodef-info--social-share) {
				font-family: $heading-font;
				font-size: 22px;
				font-weight: 700;

				p, a {
					margin: 0;
					line-height: $text-line-height;
					color: $text-color;
				}

				a:hover {
					color: $main-color;
				}
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
		
		.qodef-e-title {
			margin: 0 0 -4px 0;
			@include qodefCustomTitleStyle();
		}

		.qodef-social-share {
			margin-top: -6px;

			.qodef-social-title {
				display: block;
				margin: 0 0 8px 0;
				line-height: inherit;
			}
		}
        
        .qodef-e-category {
            
            &:after {
                content: "/";
	            color: $heading-color;
            }
            
            &:last-child:after {
                display: none;
            }
        }
	}

	.qodef-info--tag {
		@include qodefRelativeLayout();
		margin: 14px 0 0;

		.qodef-e-tag {
			display: inline-block;
			margin: 0 4px 13px 0;
			font-family: $heading-font;
			font-size: 18px;
			font-weight: 700;
			line-height: .9;
			border-bottom: 1px solid currentColor;

			&:last-child {
				margin-right: 0;
			}
		}
	}
}