/* ==========================================================================
   Portfolio Info shortcode styles
   ========================================================================== */

.qodef-portfolio-info {
	
	&.qodef-skin--light {

		> * {

			&:not(.qodef-info--social-share) {
				color: #fff;

				p, a {
					color: #fff;
				}

				a:hover {
					color: $main-color;
				}
			}
		}

		.qodef-e-title {
			color: #fff;
		}

		.qodef-social-share {

			.qodef-social-title {
				color: #fff;
			}

			ul li a {
				color: #fff;
				border-color: #fff;

				&:hover {
					color: $main-color;
					border-color: $main-color;
				}
			}
		}

		.qodef-e-category {

            &:after {
	            color: #fff;
            }
        }
	}
}

